<div class="container-fluid">
    <!-- header -->
    <!-- <header>

        <div class="row align-items-center position-relative">
            <div class="mouse_move">
                <img id="img1" src="assets/images/logo-an.png" class="mouse" value="5" />

            </div>
            <div class="col-md-3 col-lg-3 align-self-center logo-bg ">
                <a class="navbar-brand " href="index.html">
                    <img src="assets/images/logo.png" class="img-fl">
                </a>
            </div>
            <div class="col-md-9 col-lg-9 position-relative">



            </div>

        </div>
    </header> -->
    <main class="mt-5">
        <section>
            <div class="container-fluid p-0">
                <div class="row m-0 p-0">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class=" bg-white p-4 shadow border-10 ">


                                    <div class="">
                                        <h4 class="fw-semibold" *ngIf="!userName">Hi John Doe,</h4>
                                        <h4 class="fw-semibold" *ngIf="userName">{{userName}}</h4>
                                        <p class="fw-color">Start with basic details for your signature</p>
                                    </div>

                                    <form class="row position-relative" [formGroup]="profileForm"
                                        (ngSubmit)="onSubmit(profileForm.value)">
                                        <div class="col-md-11 col-lg-9">
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Your Name</label>
                                                <input type="text" [(ngModel)]="userName" pattern="[A-Za-z]+"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp"
                                                    formControlName="firstName">
                                                <div *ngIf="profileForm.get('firstName')?.hasError('required') "
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">Name is required </small>
                                                </div>

                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Company
                                                    Name</label>
                                                <input type="text"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp"
                                                    formControlName="companyName" [(ngModel)]="compname">
                                                <div *ngIf="profileForm.get('companyName')?.hasError('required') "
                                                    class="text-danger text-sm">
                                                    <small class="fs-12"> Company Name is required</small> </div>
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Company
                                                    Website</label>
                                                <input type="text"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp"
                                                    formControlName="companyWebsite" [(ngModel)]="compwebsite">
                                                <div *ngIf="profileForm.get('companyWebsite')?.hasError('required') "
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">Company website is required </small> </div>
                                            </div>

                                            

                                            <div class="mb-4">
                                                

    

                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputfiled" class="form-label"> Country</label><br>
                                                <select class="p-2 m-2 border-0 border-bottom w-100 " id="exampleInputfiled" [(ngModel)]="country" [ngModelOptions]="{standalone: true}" (change)="changeCountry($event.target)">
                                                    <option *ngFor="let item of countryList" value="{{item?.name}}">{{item?.name}}</option>
                                                </select>
                                                </div>
                                                <div class="mb-4">
                                                <label for="exampleInputfiled" class="form-label">Your Phone</label>
                                                <input type="text" [(ngModel)]="phoneCode" readonly formControlName="stdCode" style="width: 33px;
                                                position: relative;
                                                top: 32px;left:-80px;
                                                 border: none;  border-left: none; border-bottom: 1px solid black;">

                                              <input type="text" maxlength="10" minlength="10" 
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp"
                                                    formControlName="phone" [(ngModel)]="number" style="width:312px; margin-left:60px;">

                                                <div *ngIf="profileForm.get('phone')?.hasError('required') "
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">*Phone no. is required</small>
                                                </div>
                                                <div *ngIf="profileForm.get('phone')?.hasError('pattern')"
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">*Please enter valid no.</small>
                                                </div>



                                            </div>
                                            <button type="submit" class="green-btn shadow  pe-3 ps-3 p-2"
                                                >Create</button>
                                        </div>
                                        <div class="col-md-1 col-lg-3">
                                            <div class="image-square">
                                                <img class="wh-150" src="assets/images/square-image.png">
                                                <!-- <p class="text-blue fs-12 mb-0 mt-2 text-nowrap pe-2"
                                                    data-bs-toggle="modal" data-bs-target="#change-image">
                                                    Change
                                                    Photo</p>
                                                <p class="text-blue fs-12 mb-0">Remove</p> -->

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card-box bg-white p-4 shadow border-10 pe-2 ps-2">
                                    <div class="row m-0">
                                        <div class="col-md-3 col-lg-3 self-align-center">
                                            <img class="wh-150" src="assets/images/profile-image.png">
                                        </div>
                                        <div class="col-md-7 col-lg-6 ps-2 pe-0 position-relative">
                                            <div class="position-absolute start-0">
                                                <!-- <img class="h-90 pe-3" src="assets/images/vertical-line.png"> -->
                                            </div>
                                            <div class="ms-4">
                                                <h4 class=""><span class="text-darkblue">{{userName}}</span> </h4>
                                                <h6 class="mb-3">Marketing Expert</h6>
                                                <hr class="text-black">
                                                <div class="d-flex">
                                                    <i class="fa fa-phone text-blue fs-12 pe-3" aria-hidden="true"></i>
                                                    <p class=" fs-12" *ngIf="!number">984395709 </p>
                                                    <p class=" fs-12">{{phoneCode}}{{number}} </p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="fa fa-map-marker text-blue fs-12 pe-3"
                                                        aria-hidden="true"></i>
                                                    <p class=" fs-12">309-310, Udyog Vihar-4, Phase-IV,
                                                        Gurugram, Haryana 122015 </p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="fa fa-envelope text-blue fs-12 pe-3"
                                                        aria-hidden="true"></i>
                                                    <p class="fs-12">{{Email}}</p>
                                                    <!-- <p class="fs-12" *ngIf="gemail">{{gemail}}</p> -->

                                                    <!-- gemail -->
                                                </div>
                                                <div class="d-flex">
                                                    <i class="fa fa-globe text-blue fs-12 pe-3" aria-hidden="true"></i>
                                                    <p class=" fs-12" *ngIf="!compwebsite">www.perfectiongeeks.com</p>
                                                    <p class=" fs-12">{{compwebsite}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="col-md-2 col-lg-3 pe-0 ps-0" *ngIf="details?.QrCode">
                                            <img class="img-fluid" src="https://giveaspark.s3.amazonaws.com/{{details?.QrCode}}" >
                                            

                                            <!-- <ngx-qrcode style="width:150px;height:150px;" [elementType]="elementType"
                                                [errorCorrectionLevel]="correctionLevel" [value]="value"
                                                cssClass="bshadow"></ngx-qrcode> -->
                                            <!-- <p class="text-center pt-3 fs-12"></p> -->
                                            

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        `
                    </div>
                </div>
            </div>





        </section>
    </main>
</div>






<div class="modal fade" id="change-image" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog quotes-box">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-end"><i class="fa fa-times" data-bs-dismiss="modal" aria-label="Close"
                        aria-hidden="true"></i></div>
                <div class="Neon Neon-theme-dragdropbox">
                    <input
                        style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
                        name="files[]" id="filer_input2" multiple="multiple" type="file" accept="image/*"
                        (change)="onSelectImage($event)">
                    <div class="Neon-input-dragDrop">
                        <div class="Neon-input-inner">
                            <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
                            <div class="Neon-input-text">
                                <h3>Drag&amp;Drop files here</h3> <span
                                    style="display:inline-block; margin: 15px 0">or</span>
                            </div><a class="Neon-input-choose-btn blue">Browse Files</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>