<div class="container-fluid">
    <!-- header -->
    <header>

        <div class="row align-items-center position-relative">
            <div class="mouse_move">
                <img id="img1" src="assets/images/logo-an.png" class="mouse" value="5" />

            </div>
            <div class="col-md-3 col-lg-3 align-self-center logo-bg ">
                <a class="navbar-brand " href="index.html">
                    <img src="assets/images/logo.png" class="img-fl">
                </a>
            </div>
            <div class="col-md-9 col-lg-9 position-relative">



            </div>

        </div>
    </header>
    <main class="padding-top">
        <section>
            <div class="container-fluid p-0 mt-5">
                <div class="row m-0 p-0 mt-3">

                    <div class="col-lg-10 offset-lg-1 mt-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-box bg-white p-4 shadow border-10 ">

                                    <div class="">
                                        <h4 class="fw-semibold">Hi John Doe,</h4>
                                        <p class="fw-color">Start with basic details for your signature</p>
                                    </div>

                                    <form class="row position-relative"  [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
                                        <div class="col-md-11 col-lg-9">
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Your Name</label>
                                                <input type="text" [(ngModel)]="userName"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp" formControlName="firstName">

                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Company
                                                    Name</label>
                                                <input type="text"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp" formControlName="companyName" [(ngModel)]="compname">

                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputfiled" class="form-label">Company
                                                    Website</label>
                                                <input type="text"
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp" formControlName="companyWebsite" [(ngModel)]="compwebsite">

                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputfiled" class="form-label">Your Phone</label>
                                                <input type="number" 
                                                    class="form-control rounded-0 border-0 border-bottom p-0"
                                                    id="exampleInputfiled" aria-describedby="textHelp" formControlName="phone" [(ngModel)]="number">

                                            </div>
                                            <button type="submit" class="btn green-btn" [disabled]="profileForm.invalid">Create</button>
                                        </div>
                                        <div class="col-md-1 col-lg-3">
                                            <div class="image-square">
                                                <img class="img-fluid" src="assets/images/square-image.png">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card-box bg-white p-4 shadow border-10 pe-2 ps-2">
                                    <div class="row m-0">
                                        <div class="col-md-3 col-lg-3 self-align-center">
                                            <img class="wh-150" src="assets/images/profile-image.png">
                                        </div>
                                        <div class="col-md-7 col-lg-6 ps-2 pe-0 position-relative">
                                            <div class="position-absolute start-0">
                                                <img class="h-90" src="assets/images/vertical-line.png">
                                            </div>
                                            <div class="ms-4">
                                                <h4 class=""><span class="text-darkblue">{{userName}}</span> </h4>
                                                <h6 class="mb-3">Marketing Expert</h6>

                                                <div class="">
                                                    <p class=" fs-12"  *ngIf="!number">984395709  </p>
                                                    <p class=" fs-12" >{{number}}  </p>
                                                </div>
                                                <div class="">

                                                    <p class=" fs-12">309-310, Udyog Vihar-4, Phase-IV,
                                                        Gurugram, Haryana 122015 </p>
                                                </div>
                                                <div class="">

                                                    <p class=" fs-12">{{Email}}</p>
                                                </div>
                                                <div class="">
                                                    <p class=" fs-12" *ngIf="!compwebsite">www.perfectiongeeks.com</p> 
                                                    <p class=" fs-12">{{compwebsite}}</p> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-2 col-lg-3 pe-0 ps-0">
                                            <img class="img-fluid" src="assets/images/scan.png">
                                            <p class=" fs-12">Scan/Click QR</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

       
                <button (click)="logout()" >logout</button>
 
         
        </section>
    </main>
</div>
