<div class="container-fluid">
    <!-- header -->
    <header>

        <div class="row align-items-center position-relative">
            <div class="mouse_move">
                <img id="img1" src="assets/images/logo-an.png" class="mouse" value="5" />

                <img id="img2" src="assets/images/btn-an.png" class="mouse" value="-5" />
            </div>
            <div class="col-md-3 col-lg-3 align-self-center logo-bg ">
                <a class="navbar-brand " href="index.html">
                    <img src="assets/images/logo.png" class="img-fl">
                </a>
            </div>
            <div class="col-md-8 col-lg-8 position-relative">


                <nav class="mt-4 container">
                    <div class="d-flex align-items-start">
                        <p class="bg-yellow p-2 mb-0">Your free trial ends in 10 days.Upgrade now and get 15% early
                            bird
                            discount.
                        </p>
                        <button class="btn pink-btn p-2 ms-3" type="submit">Upgrade Plan</button>
                    </div>
                </nav>
            </div>
            <div class="col-md-1 col-lg-1 p-0">
                <form class="d-flex">
                    <img src="assets/images/profile.png">
                </form>
            </div>
        </div>
    </header>
    <main class="padding-top">
        <section>
            <div class="container-fluid p-0 mt-5">
                <div class="row m-0 p-0 mt-3">
                    <!-- <div class="col-md-3 col-lg-2 p-0 side-nav-sec dekstop-menu">
                        <div class="position-relative h-100">

                            <div class="d-flex flex-column flex-shrink-0 bg-gray" style="width: 4.5rem;">

                                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                                    <li class="nav-item mb-2">

                                        <a href="" class="nav-link py-3 rounded-0" aria-current="page" title="Home"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/dashboard.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Home</p>
                                            </div>
                                        </a>


                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link active  py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/signaturetemplate.png" class="img-menu"
                                                    width="24" height="24">
                                                <p class="menu-text mb-0">Signature Template</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">

                                        <a href="#" class="nav-link   py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/saved-signature.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Saved Signature</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link   py-3 border-0" title="Quotes"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/quotes.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Quotes</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link   py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/saved-signature.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Saved Signature</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown border-top">
                                    <a href="#"
                                        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24"
                                            class="rounded-circle">
                                    </a>
                                    <ul class="dropdown-menu text-small shadow">
                                        <li><a class="dropdown-item" href="#">New project...</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-7 col-lg-10">
                        <div class="row pe-5">
                            <div class="col-md-6 col-lg-6">
                                <ul class="nav nav-tabs rounded-pill p-3 ps-5 pe-5" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 active" id="details-tab"
                                            data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab"
                                            aria-controls="details" aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/details.png">
                                                <p class="mb-0 fs-5">Details</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 bg-white" id="social-tab"
                                            data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab"
                                            aria-controls="social" aria-selected="true" (click)="onClick()
                                            ">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/social.png">
                                                <p class="mb-0 fs-5">Social</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1  p-2 " id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/template.png">
                                                <p class="mb-0 fs-5">Template</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 " id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/design.png">
                                                <p class="mb-0 fs-5">Design</p>
                                            </div>
                                        </button>
                                    </li>
                                </ul>

                                <!-- form start -->

                                <form [formGroup]="signatureDetailsForm" (ngSubmit)="onSubmit(signatureDetailsForm.value)">


                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show " id="details" role="tabpanel"
                                            aria-labelledby="details-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Signature Details</h4>
                                                </div>

                                                <div class="row position-relative">
                                                    <div class="col-md-11 col-lg-9">
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled" class="form-label">Your
                                                                Name</label>
                                                            <input type="text" formControlName="yourName"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Designation</label>
                                                            <input type="text" formControlName="designation"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Phone</label>
                                                            <input type="text" formControlName="phoneNo"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Address</label>
                                                            <input type="text" formControlName="address"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>

                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Email</label>
                                                            <input type="text" formControlName="email"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Website</label>
                                                            <input type="text" formControlName="companyWebsite"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <!-- <div class="mb-4">
                                                            <label for="exampleInputfiled" class="form-label">
                                                                Quote</label>
                                                            <input type="text" formControlName=""
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div> -->
                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="exampleInputfiled" class="form-label">
                                                                    Quote</label>
                                                                <select class="form-select form-select-lg p-3 bg-gray text-black-50 fs-14" style="    width: 332px;
                                                                height: 16px;" aria-label=".form-select-lg example" formControlName="quotesId">
                                                                    <option value="" disabled selected>Select Quote</option>
                                                                    <option  [value]=""> </option>
                                                                  </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="exampleInputfiled" class="form-label">
                                                                 My Quote</label>
                                                                <select class="form-select form-select-lg p-3 bg-gray text-black-50 fs-14" style="    width: 332px;
                                                                height: 16px;" aria-label=".form-select-lg example" formControlName="planId">
                                                                    <option value="" disabled selected>Select Quote </option>
                                                                    <option  [value]=""> </option>
                                                                  </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-1 col-lg-3">
                                                        <div class="position-absolute top-0">
                                                            <img class="img-fluid" src="assets/images/square-image.png">
                                                            <p class="text-blue fs-14 mb-0">Change Photo</p>
                                                            <p class="text-blue fs-14 mb-0">Remove</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="social" role="tabpanel"
                                            aria-labelledby="social-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Add Social Links</h4>
                                                </div>

                                                <div class="row position-relative">
                                                    <div class="col-md-11 col-lg-9">
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled" class="form-label">Facebook
                                                            </label>
                                                            <input type="text" formControlName="fbProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Instagram</label>
                                                            <input type="text" formControlName="instagramProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">LinkedIn</label>
                                                            <input type="text" formControlName="linkedInProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Youtube</label>
                                                            <input type="text" formControlName="youtubeChannel"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4 d-flex">

                                                            <p class="mb-0 bg-lgblue rounded-pill "><i
                                                                    class="fa fs-12 fa-plus p-1" aria-hidden="true"></i>
                                                            </p>
                                                            <p class="mb-0 ps-2">
                                                                Add New Field</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-1 col-lg-3">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="contact" role="tabpanel"
                                            aria-labelledby="contact-tab">...</div>
                                    </div>

                                    <div class="mt-4 text-end">
                                        <button type="submit" class="btn green-btn">Create Signature</button>
                                    </div>

                                </form>



                                <!-- form End -->


                            </div>
                            <div class="col-md-6 col-lg-6 pe-3">
                                <div class="card-box  border-10 p-4 pe-2 ps-2">
                                    <div class="row m-0">
                                        <div class="col-md-3 col-lg-3 self-align-center">
                                            <img class="wh-150" src="assets/images/profile-image.png">
                                        </div>
                                        <div class="col-md-7 col-lg-6 ps-2 pe-0">
                                            <h4 class=""><span class="text-darkblue" *ngIf="!username">John &nbsp;
                                                    Doe</span> </h4>
                                            <h4 class="">
                                                <span class="text-darkblue" *ngIf="username">{{username}}</span>
                                            </h4>
                                            <h6 class="mb-3">Marketing Expert</h6>

                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!number">+1129457850 | +1129457850 </p>
                                                <p class=" fs-12" *ngIf="number">{{number}} </p>
                                            </div>
                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!Email">shreybhardwaj@gmail.com </p>
                                                <p class=" fs-12" *ngIf="Email">{{Email}} </p>
                                            </div>
                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!compWebsite">www.perfectiongeeks.com</p>
                                                <p class=" fs-12" *ngIf="compWebsite">{{compWebsite}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-3 pe-0 ps-0">
                                            <img class="img-fluid" src="assets/images/scan.png">
                                            <p class=" fs-12">Scan/Click QR</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-2 text-center">
                                            <p>“Business opportunities are like buses, there’s always another one
                                                coming.”
                                            </p>
                                            <h6> – Richard Branson</h6>
                                        </div>

                                    </div>
                                    <!-- <div class="mt-4 text-end">
                                        <button type="submit" class="btn green-btn ">Create Signature</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- Button trigger modal -->


    <!-- Modal -->

</div>