





<div class="row m-0 p-0 mt-5 align-items-center">
    <div class="col-md-12 col-lg-12">
        <div class="border-bottom">
            <h3>Create Quote</h3>
        </div>
        <div class="row m-0 p-0 mt-4">
            <div class="col-md-12 col-lg-12">
                <form class="row position-relative" [formGroup]="addQuoteForm" (ngSubmit)="saveQuote(addQuoteForm.value)">
                    <div class="col-md-6 col-lg-6">
                        <div class="mb-2">
                            <label for="exampleInputfiled" class="form-label">Your
                                Name</label>
                            <input type="text" class="form-control rounded-0  p-2"
                                id="exampleInputfiled" aria-describedby="textHelp" formControlName="writerName">

                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Image</label>
                            <input class="form-control p-2" type="file" accept="image/png, image/gif, image/jpeg" id="formFile" formControlName="writerProfile" (change)="onSelectImage($event)">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Enter Quote
                            </label>
                        <textarea class="form-control" placeholder="Enter quote" id="exampleFormControlTextarea1" formControlName="enterQuotes"
                            rows="3"></textarea>
                    </div>
                    <div class="col-md-6 col-lg-6">


                        <button type="submit" class="btn green-btn">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>