<header>

    <div class="row align-items-center position-relative">
        <!-- <div class="mouse_move">
            <img id="img1" src="assets/images/logo-an.png" class="mouse" value="5" />

            <img id="img2" src="assets/images/btn-an.png" class="mouse" value="-5" />
        </div> -->
        <div class="col-md-3 col-lg-3 align-self-center logo-bg ">
            <a class="navbar-brand " href="assets/index.html">
                <img src="assets/images/logo.png" class="img-fl">
            </a>
        </div>
        <div class="col-md-8 col-lg-8 position-relative">


            <nav class="mt-4 container">
                <div class="d-flex align-items-start">
                    <p class="bg-yellow p-2 mb-0">Your free trial ends in 10 days.Upgrade now and get 15% early
                        bird
                        discount.
                    </p>
                    <button class="btn pink-btn p-2 ms-3" type="submit" routerLink="/home-dashboard/plan/plan-dashboard">Upgrade Plan</button>
                </div>
            </nav>
        </div>
        <div class="col-md-1 col-lg-1 p-0">
            <form class="d-flex">
                <img src="assets/images/profile.png">
            </form>
        </div>
    </div>
</header>