<div class="col-md-11 col-lg-11">

    <div class="row m-0 p-0 mt-5 align-items-center">
        <div class="col-md-12 col-lg-12">
            <ul class="nav nav-pills  justify-content-around mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-Free-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Free" type="button" role="tab" aria-controls="pills-Free"
                        aria-selected="true">Free</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-Pro-tab" data-bs-toggle="pill" data-bs-target="#pills-Pro"
                        type="button" role="tab" aria-controls="pills-Pro" aria-selected="false">Pro</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-Pro-Plus-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Pro-Plus" type="button" role="tab" aria-controls="pills-Pro-Plus"
                        aria-selected="false">Pro</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Free" role="tabpanel" aria-labelledby="pills-Free-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <div class="bg-free-1  border-10 p-1 pe-2 ps-2">
                                    <div class="row m-0">

                                        <div class="col-md-6 col-lg-6">
                                            <img alt="template-logo" src="assets/images/template logo.png">
                                        </div>
                                        <div class="col-md-6 col-lg-6 text-end">
                                            <img alt="template-logo" src="assets/images/unsave-icon.png">
                                        </div>
                                        <div class="col-md-4 col-lg-5 self-align-center">

                                        </div>
                                        <div class="col-md-6 col-lg-6 ps-2 pe-0">
                                            <h4 class="mb-0"><span class="text-darkblue">John</span>
                                                Doe</h4>
                                            <h6 class="mb-1">Marketing Expert</h6>

                                            <div class="d-flex pe-5 ps-3 p-1">
                                                <i class="fa fa-phone pe-3" aria-hidden="true"></i>
                                                <p class=" fs-12 mb-0">+1129457850 | +1129457850
                                                </p>
                                            </div>
                                            <div class="d-flex pe-5 ps-3 p-1">
                                                <i class="fas fa-globe pe-3"></i>

                                                <p class=" fs-12 mailto:mb-0">shreybhardwaj@gmail.com
                                                </p>
                                            </div>
                                            <div class="d-flex pe-5 ps-3 p-1">
                                                <i class="fas fa-map-marker pe-3"></i>

                                                <p class=" fs-12 mb-0">https://www.perfectiongeeks.com
                                                </p>
                                            </div>
                                            <div>
                                                <p class="fs-12 p-2 mb-1">“Business opportunities are
                                                    like buses, there’s
                                                    always another one
                                                    coming.” – Richard Branson
                                                </p>

                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-1 pe-0 ps-0  pt-5">
                                            <img alt="qr" class="wh-35" src="assets/images/scan.png">
                                            <img alt="logo" class="wh-35 pt-2" src="assets/images/logo.png">
                                        </div>
                                    </div>
                                    <div class="row">


                                    </div>

                                </div>

                            </div>
                            <div class="  bg-wheat text-center ">
                                <p class="fs-12">
                                    “CONFIDENTIALITY NOTICE: This e-mail message, including any
                                    attachments, is for the sole use of the intended
                                    recipient(s) and may contain confidential and privileged
                                    information. Any unauthorised review, use, disclosure, or
                                    distribution is prohibited. If you are not the intended
                                    recipient, please contact the sender by reply e-mail and
                                    destroy all copies of the original message.“
                                </p>
                            </div>
                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <div class="bg-free-2   border-10 p-1 pe-2 ps-2">
                                    <div class="row m-0">

                                        <div class="col-md-6 col-lg-6">
                                            <img alt="template-logo" src="assets/images/template logo.png">
                                        </div>
                                        <div class="col-md-6 col-lg-6 text-end">
                                            <img alt="template-logo" src="assets/images/unsave-icon-ylw.png">
                                        </div>
                                        <div class="col-md-4 col-lg-4 self-align-center">

                                        </div>
                                        <div class="col-md-6 col-lg-7 ps-2 pe-0">
                                            <h4 class="mb-0"><span class="text-darkblue">John</span>
                                                Doe</h4>
                                            <h6 class="mb-1">Marketing Expert</h6>

                                            <div class="d-flex align-items-center pe-5 ps-3">
                                                <i class="fa fa-phone bg-black text-white rounded-circle p-2 fs-12 me-3 m-1" aria-hidden="true"></i>
                                                <p class="m-1 mb-0 fs-12">+1129457850 |
                                                    +1129457850 </p>
                                            </div>
                                            <div class="d-flex pe-5 ps-3">
                                                <i class="fas fa-globe bg-black text-white rounded-circle p-2 fs-12 me-3 m-1"></i>

                                                <p class="m-1 mb-0 fs-12">
                                                    mailto:shreybhardwaj@gmail.com </p>
                                            </div>
                                            <div class="d-flex pe-5 ps-3">
                                                <i class="fas fa-map-marker bg-black text-white rounded-circle p-2 fs-12 me-3 m-1"></i>

                                                <p class="m-1 mb-0 fs-12">
                                                    https://www.perfectiongeeks.com</p>
                                            </div>
                                            <div class="">
                                                <p class="fs-12 p-2 mb-0">“Business opportunities are
                                                    like buses, there’s
                                                    always another one
                                                    coming.”– Richard Branson
                                                </p>

                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-1 pe-0 ps-0 pt-5">
                                            <img alt="qr" class="wh-35" src="assets/images/scan.png">
                                            <img alt="logo" class="wh-35 pt-2" src="assets/images/logo.png">
                                        </div>
                                    </div>
                                    <div class="row">


                                    </div>

                                </div>

                            </div>
                            <div class="  bg-wheat text-center ">
                                <p class="fs-12">
                                    “CONFIDENTIALITY NOTICE: This e-mail message, including any
                                    attachments, is for the sole use of the intended
                                    recipient(s) and may contain confidential and privileged
                                    information. Any unauthorised review, use, disclosure, or
                                    distribution is prohibited. If you are not the intended
                                    recipient, please contact the sender by reply e-mail and
                                    destroy all copies of the original message.“
                                </p>
                            </div>
                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">


                                <table style="width: 370px; font-size: 10pt; FONT-FAMILY: Arial, sans-serif; "
                                    cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 102px; font-size: 10pt; font-family: Arial, sans-serif; border-right: 1px solid #929292; vertical-align: top;"
                                                valign="top">
                                                <img src="photo.png" alt="photograph"
                                                    style="border:0; height:auto; width:80px" width="80" border="0">

                                                <p style="margin-top: 35px; margin-bottom: 6px; padding: 0px;">
                                                    <a href="https://www.codetwo.com/email-signatures/"
                                                        target="_blank"><img alt="Logo"
                                                            style="width:90px; height:auto; border:0;" src="logo.png"
                                                            width="90" border="0"></a>

                                                    <br>
                                                </p>

                                            </td>
                                            <td style="width: 25px;"></td>
                                            <td style="width: 243px; font-size: 10pt; color:#444444; font-family: Arial, sans-serif; vertical-align: top;"
                                                valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-bottom: 18px;">
                                                                <strong>
                                                                    <span
                                                                        style="font-size: 10pt; font-family: Arial, sans-serif; color:#00aeef;">firstName
                                                                        lastName<br></span>
                                                                    <span
                                                                        style="font-family: Arial, sans-serif; font-size:10pt; color:#00aeef;">title<br></span>
                                                                    <span
                                                                        style="font-family: Arial, sans-serif; font-size:10pt; color:#00aeef;">company<br></span>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="FONT-FAMILY: Arial, sans-serif;">
                                                                <span>
                                                                    <span
                                                                        style="font-size: 9pt; color: #00aeef;"><strong>T:</strong></span>
                                                                    <span style="font-size: 9pt; color:#929292;">
                                                                        phone</span>
                                                                    <span style="color:#929292;"> | </span>
                                                                </span>

                                                                <span>
                                                                    <span
                                                                        style="font-size: 9pt; color: #00aeef;"><strong>M:</strong></span>
                                                                    <span style="font-size: 9pt; color:#929292;">
                                                                        mobile</span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span
                                                                    style="font-size: 9pt; color: #00aeef;"><strong>E:</strong></span>
                                                                <a href="mailto:email"
                                                                    style="font-size: 9pt; color:#929292; text-decoration: none;"><span
                                                                        style="text-decoration: none; font-size: 9pt; color:#929292; FONT-FAMILY: Arial, sans-serif;">email</span></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span
                                                                    style="font-size: 9pt; color:#929292; FONT-FAMILY: Arial, sans-serif;">
                                                                    <a href="website" style="color:#929292;"><span
                                                                            style="text-decoration: none; font-size: 9pt; color:#929292; FONT-FAMILY: Arial, sans-serif;">website</span></a></span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="padding-top: 14px; padding-bottom: 14px;">
                                                                <span><a href="https://www.facebook.com/MyCompanyFacebook"
                                                                        target="_blank" rel="noopener"><img src="assets/images/fb.png"
                                                                            alt="facebook icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span><span><a
                                                                        href="https://twitter.com/MyCompanyTwitter"
                                                                        target="_blank" rel="noopener"><img src="assets/images/tt.png"
                                                                            alt="twitter icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span><span><a
                                                                        href="https://www.youtube.com/user/MyCompanyChannel"
                                                                        target="_blank" rel="noopener"><img src="assets/images/yt.png"
                                                                            alt="youtube icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span><span><a
                                                                        href="https://www.linkedin.com/company/mycompanylinkedin"
                                                                        target="_blank" rel="noopener"><img src="assets/images/ln.png"
                                                                            alt="linkedin icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span><span><a
                                                                        href="https://www.instagram.com/mycompanyinstagram/"
                                                                        target="_blank" rel="noopener"><img src="assets/images/it.png"
                                                                            alt="instagram icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span><span><a
                                                                        href="https://pinterest.com/mycompanypinterest/"
                                                                        target="_blank" rel="noopener"><img src="assets/images/pt.png"
                                                                            alt="pinterest icon"
                                                                            style="border:0; height:20px; width:20px"
                                                                            width="20" border="0"></a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span
                                                                    style="font-size: 10pt; font-family: Arial, sans-serif; color: #929292;">address1<span>,</span></span>
                                                                <span
                                                                    style="font-size: 10pt; font-family: Arial, sans-serif; color: #929292;">address2</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr style="width: 370px;">
                                            <td colspan="3" style="padding-top:14px">
                                                <a href="https://www.codetwo.com/email-signatures/" target="_blank"
                                                    rel="noopener"><img src="assets/images/banner.png" alt="Banner"
                                                        style="max-width:370px; height:auto; border:0;" border="0"></a>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3"
                                                style="padding-top: 14px; text-align: justify; FONT-SIZE: 7pt; color: #929292; line-height: 10px;  max-width: 370px;">
                                                disclaimer
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn   " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/free-2.png">

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn   " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane fade" id="pills-Pro" role="tabpanel" aria-labelledby="pills-Pro-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/email-signature-pro-1.png">
                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn "  (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <div class="bg-free-2   border-10 p-1 pe-2 ps-2">

                                    <img class="w-500" alt="" src="assets/images/email-signature-pro-1.png">
                                </div>

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn   " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Pro-Plus" role="tabpanel" aria-labelledby="pills-Pro-Plus-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">


                                <img class="w-500" alt="" src="assets/images/pro-pro-2.png">
                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn   " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/pro-pro-3.png">

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn" (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->