<div class="col-md-11 col-lg-11">

    <div class="row m-0 p-0 mt-5 align-items-center">
        <div class="col-md-12 col-lg-12">
            <ul class="nav nav-pills  justify-content-around mb-3" id="pills-tab"
                role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-Free-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Free" type="button" role="tab"
                        aria-controls="pills-Free" aria-selected="true">Free</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-Pro-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Pro" type="button" role="tab"
                        aria-controls="pills-Pro" aria-selected="false">Pro</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-Pro-Plus-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Pro-Plus" type="button" role="tab"
                        aria-controls="pills-Pro-Plus" aria-selected="false">Pro</button>
                </li>
                
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Free" role="tabpanel"
                    aria-labelledby="pills-Free-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/free-1.png">

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/free-2.png">

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Pro" role="tabpanel"
                    aria-labelledby="pills-Pro-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt=""
                                    src="assets/images/email-signature-pro-1.png">
                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <div class="bg-free-2   border-10 p-1 pe-2 ps-2">
                                  
                                    <img class="w-500" alt=""
                                    src="assets/images/email-signature-pro-1.png">
                                </div>

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Pro-Plus" role="tabpanel"
                    aria-labelledby="pills-Pro-Plus-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="">

                                
                                <img class="w-500" alt="" src="assets/images/pro-pro-2.png">
                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="">
                                <img class="w-500" alt="" src="assets/images/pro-pro-3.png">

                            </div>

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn green-btn " (click)="navigate()">Edit
                                    Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
