<!-- Home page start here====>>>>> -->

<section class="banner_slider pt-3">
    <div class="row">
      <div class="col-md-11 col-lg-11">
        <div id="carouselExampleCaptions" class="carousel slide position-relative" data-bs-ride="carousel">
          <div class="carousel-indicators button-yellow">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active position-relative">
              <img src="assets/images/banner_one.png" class="d-block w-100" alt="Banner-Temp">
              <div class="carousel-caption d-none d-md-block banner_content  position-absolute">
                <h2 class="banner_heading">Create Professional <span class="banner_yellow_txt">Email Signature</span>Template</h2>
                <p class="banner_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magnam quisquam earum voluptas est
                  temporibus eaque delectus inventore quas dolore ipsum, totam voluptatum nostrum minima ex harum ipsam.
                  Qui, aliquam?</p>
                <button class="banner_btn">Buy Now</button>
              </div>
            </div>
            <div class="carousel-item position-relative">
              <img src="assets/images/banner_one.png" class="d-block w-100" alt="Banner-Temp">
              <div class="carousel-caption d-none d-md-block banner_content  position-absolute">
                <h2 class="banner_heading">Create Professional <span class="banner_yellow_txt">Email Signature</span> Template</h2>
                <p class="banner_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magnam quisquam earum voluptas est
                  temporibus eaque delectus inventore quas dolore ipsum, totam voluptatum nostrum minima ex harum ipsam.
                  Qui, aliquam?</p>
                <button class="banner_btn">Buy Now</button>
              </div>
            </div>
            <div class="carousel-item position-relative">
              <img src="assets/images/banner_one.png" class="d-block w-100" alt="Banner-Temp">
              <div class="carousel-caption d-none d-md-block banner_content position-absolute">
                <h2 class="banner_heading">Create Professional <span class="banner_yellow_txt">Email Signature</span> Template</h2>
                <p class="banner_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magnam quisquam earum voluptas est
                  temporibus eaque delectus inventore quas dolore ipsum, totam voluptatum nostrum minima ex harum ipsam.
                  Qui, aliquam?</p>
                <button class="banner_btn">Buy Now</button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon prev-btn" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon next-btn" aria-hidden="true">></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-1 col-lg-1">
        <img src="" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
  
      </div>
    </div>
  </section>
  
