


    <div class="row m-0 p-0 mt-3">
     


        <div class="col-md-7 col-lg-10">

            <div class="row m-0 p-0 mt-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <div class="border-bottom">
                        <h3>Create Story</h3>
                    </div>
                    <div class="row m-0 p-0 mt-4">
                        <div class="col-md-12 col-lg-12">
                            <form class="row position-relative" [formGroup]="addStoryForm" (ngSubmit)="  saveStory(addStoryForm.value)">
                                <div class="col-md-6 col-lg-6">
                                    <div class="mb-2">
                                        <label for="exampleInputfiled" class="form-label">Your
                                            Name</label>
                                        <input type="text" class="form-control border-blue rounded-0  p-2" formControlName="writerName"
                                            id="exampleInputfiled" aria-describedby="textHelp">

                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="mb-3">
                                        <!-- {{imageData2?
                                            imageData2:""}} -->
                                        <label for="formFile" class="form-label">Image</label>
                                        <input type="file" accept="image/png, image/gif, image/jpeg" class="form-control border-blue p-2"  id="formFile"  formControlName="writerProfile" (change)="onSelectImage($event)">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Enter Story
                                        </label>
                                    <textarea class="form-control border-blue" placeholder="Enter story" id="exampleFormControlTextarea1"
                                        rows="3" formControlName="enterStories"></textarea>
                                </div>
                                <div class="col-md-6 col-lg-6">


                                    <button type="submit" class="btn green-btn   ">Create</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
