.temp-content{
    margin-top: 40px;
}
.free-wh{
    width: 350px;
}
.box-free {
  
    height: 250px;
    padding: 0px;
    border-radius: 10px;
}
.top-demanding{
    max-width: 1159px;
    height: auto;
    margin: 40px 0;
}