
<main>
    <section class="pt-5">
      <div class="container">
        <div class="row m-0 p-0 align-items-center">
          <div class="col-md-6 col-lg-5">
            <div class=" border-15 ">
              <img class="img-fluid" src="assets/images/login-image.png">

            </div>
          </div>
          <div class="col-md-6 col-lg-7">
            <div class="p-5">
              <div class="text-center border-bottom mb-5">
                <h2 class="text-blue">Enter OTP</h2>
                <p class="text-gray text-center">Enter Your OTP</p>
              </div>
          
              <form [formGroup]="enterOtpForm" (ngSubmit)="otpSubmit()">
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label text-purple">Enter OTP</label>
                  <input type="text" class="form-control text-dark lg-black p-3" placeholder="Enter OTP"
                    id="exampleInputName" aria-describedby="emailHelp" formControlName="otp">

                </div>
               

                <button type="submit" class="btn blue-btn p-2 pe-4 ps-4">Verify</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>