@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap");



:root {
  --body-bg: hsl(0deg 0% 22%);
  --box-bg: hsl(0deg 0% 27%);
  --dark-bg: hsl(0deg 0% 16%);
  --bg-gray: #EFF0F2;
  --white: white;
  --color-blues: hsl(225, 100%, 60%);
  --blue: #53abf5;
  --pink: #ff4058;
  --shadow: 0px 0px 25px 4px #2929296e;

}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #F6F9FA !important;
  font-style: normal !important;

}

* {
  padding: 0px;
  margin: 0px;
  font-style: normal !important;
}

a {
  text-decoration: none;
}

.bg-darkgray {
  background-color: #DADBDD;

}
.bg-blue{
  background-color: var(--color-blues);
}
.bg-gray {
  background-color: var(--bg-gray);
}

.bg-lgblue {
  background-color: #55D4BF;
}

.bg-yellow {
  background-color: #FFBA00;
}
.text-yellow{
  color:#FFBA00;
}
.bg-darkblue{
  background-color: #09415C;
}
.bg-pink{
  background-color: var(--pink);
}
.w-200px{
  width:500px;
}
.end-radius{
  border-radius: 0 200px 200px 0;
  padding-left:100px ;
}
.text-pink{
  color: var(--pink);
}
.text-black {
  color: black !important;
}

.text-blue {
  color: #218AEB;
  cursor: pointer;
}
.text-green{
  color: #00BF7F;
}
.text-darkblue {
  color: #006683;
}

.text-yellow {
  color: #FFBA00;
}

.text-lgblack {
  color: #444444;
}

.text-green {
  color: #00BF7F;
}

.bg-footer {
  background-color: #1C1C1C;
  padding: 30px 0;
}

.text-gray {
  color: #B2B5B6;
}

.fs-12 {
  font-size: 12px !important;
}
.active-icon{
  display: none !important;
}
.active .active-icon{
  display: block !important;
  margin:auto;

}
.active .active-black{
  display: none !important;
}
.fs-24 {
  font-size: 19px;
}

.padding-top {
  padding-top: 100px;
}

.fw-color {
  color: #616161;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #000000 !important;
}

.border-white {
  border-bottom: 3px solid transparent;
}

.border-10 {
  border-radius: 10px;
}
.box-hight{
  height: 600px;
}
.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.wh-equal {
  width: 300px;
  height: 300px;
}

.wh-150 {
  width: 110px;
  height: 110px;
}

.newsletter {
  width: 550px;
  height: 60px;
}

.wh-250 {
  width: 550px !important;
  height: 400px !important;
}
.h-110{
  height: 110px;
}
.wh-225 {
  width: 180px !important;
  height: 180px !important;
}
img.w-250 {
  width: 90%!important;
}
.w-450 {
  width: 380px !important;
}
.wh-100{
  width: 100px;
  height: 100px;
}
.h-90 {
  height: 230px;
}
.wh-35 {
  width: 25px;
  height: 25px;
}
.wh-140{
  width:140px;
  height:140px;
}
.quotes-box {
  width: 440px;
  height: 100px;
}
.menu-text {
display: none;
  position: absolute;
  left: 100px;
  color: white;
  background-color: #2e6bff;

  z-index: 1;
  padding: 5px;
  width: 200px;
  font-weight: 500;
}
img.w-500{
  width:550px;
  height:300px;
}
.create-profile-position {
  position: absolute;
  top: 145px;
}

.nav-link:hover .menu-text {
  display: inline-block;
  color: #fff;
padding: 4px;
}
.nav-item{
  padding:3px;
}
.border-blue {
  border: .12rem solid #107F7A;
}

.details-plan {
  margin-left: -20px;
}

.section-padding {
  padding: 100px 0;
}

.form-control:active i .fa-lock {
  display: none;
}

.form-control:focus>i .fa-lock {
  display: none;
}

.form-control:focus {
  background-color: #E8E8EA;
}

.wh-30 {
  width: 30px;
  height: 30px;
}

.card-box {
  background-color: #FBFEFF;
  width: 560px;
  height: 291px;
}

.box-link.active {
  color: white !important;
  background-color: #050505 !important;
  border-radius: 8px !important;
  width: 65px;
  height: 55px;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.box-link {
  width: 65px;
  height: 55px;
  color: black;
  background-color: white !important;
  border-radius: 8px !important;
  border-color: var(--bs-nav-tabs-link-active-border-color);
  transition: all 1.23s ease;
}

.form-box {

  width: 530px;
  height: 460px;
}

img.img-edit {
  position: absolute;
  top: -62px;
  left: -39px;
  width: 783px;
}
hr {
  border-top: 2px solid;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

/* / button / */
.pink-btn {
  background-color: var(--pink);
  color: var(--white);
  border: 1px solid var(--pink);
  border-radius: 25px;
}
span.carousel-control-prev-icon {
  position: absolute;
  left: -65px;
  background-color: #E1E2E4;
  border-radius: 50%;
  width: 28px;
  padding: 4px;
}
span.carousel-control-next-icon {
  position: absolute;
  right: -65px;
  background-color: #E1E2E4;
  border-radius: 50%;
  width: 28px;
  padding: 4px;
}
.top-54{
  top:54%;
}
.bg-darkblue {
  background-color: #006683;
}

.green-btn   {
  background-color: #00BF7F;
  color: white;
  border: 1px solid #00BF7F;
  border-radius: 25px;
}

.blue-btn {
  background-color: #006683;
  color: white;
  border: 1px solid #006683;
  border-radius: 25px;
}

.white-btn {
  background-color: var(--white);
  color: black;
  border: 1px solid #006683;
  border-radius: 25px;
}

.white-btn:hover {
  background-color: var(--pink);
  color: var(--white);
  border: 1px solid var(--pink);
  border-radius: 25px;

}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: black;
}

.outside-circle {
  position: absolute;

}
.bg-template{
padding: 35px;
    background-image: url(../images/bg-image-template.png);

}
    /* .position-gif{

    } */
.testimonial-first, .testimonial-last {
  z-index: 0;
  opacity: 0.5;
  width: 300px;
  /* / z-index: 2; / */
  height: 430px;
}
.top-46 {
    top: 50% !important;
    height: 431px;
    width: 730px;
      z-index: 1;
}

.testimonial-center {
  z-index: 1;

  width: 550px;
  height: 470px;
}

.active {
  background-color: transparent !important;
}

.nav-bg {
  position: absolute;
  top: -113px;
  left: 110px;
}

/* / Parallax CSS / */
.logo-bg {
  /* background-image: url("../images/logo-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.line {
  height: 2px;
  width: 10%;
}

.img-fl {
 padding: 10px 10px;
  width: 124px;
  height: 100px;

}
img.top-right {
  right: -11px;
  top: -82px;
  rotate: 33deg;
}
.circle-width {
  width: 300px;
  height: 300px;
  position: relative;
}
.gif-edit {
  position: absolute;
  top: -107px;
  width: 420px;
  left: -61px;
}
.gif-edit-center {
  position: absolute;
  top: -90px;
  width: 420px;
  left: -61px;
}
.position-gif {
  width: 250px;
}
.carousel-item {

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out
}

.carousel-item.active {
  align-items: center;
  place-self: center;
  float: center;
}

.carousel-item-next {
  position: fixed;

}

.carousel-item-prev {
  position: fixed;
  right: 0px;
  float: left;
}
.carousel-control-prev-icon {
  background-image: url("images/start-img.png") !important;
}
.carousel-control-next-icon {
  background-image: url("images/end-img.png") !important;
}
.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  transform: translateX(100%)
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  transform: translateX(-100%)
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none
}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1
}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 0;
  opacity: 1.2;
}

.carousel-fade .active.carousel-item-end,
.carousel-fade .active.carousel-item-start {
  z-index: -1;
  opacity: 0;
  transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {

  .carousel-fade .active.carousel-item-end,
  .carousel-fade .active.carousel-item-start {
    transition: none
  }
}

/* .carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease
} */

@media (prefers-reduced-motion:reduce) {

  .carousel-control-next,
  .carousel-control-prev {
    transition: none
  }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
   border:0;
}

.carousel-control-prev {
  left: 0
}

.carousel-control-next {
  right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%
}

.image-square {
  position: absolute;
  top: -70px;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* parallex
       */

.mouse_move img {
  position: absolute;
}
img.top-left {
  top: -75px;
}
#img1 {
  top: -15px;
  left: 0px;

}

#img2 {
  bottom: -20px;
  right: 50px;
  height: 250px;
  width: 250px;
  z-index: -1;
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {

    0%,
    100% {
      content: "Business Opportunities are like buses, there's always another one coming.<b>-Richard Branson<b>";
    }

    25% {
      content: "writer";
    }

    50% {
      content: "reader";
    }

    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "Business Opportunities are like buses, there's always another one coming.<b>-Richard Branson<b>";
    animation: sequencePopup 10s linear infinite;
  }
}

/* / ======= MOBILE RESPONSIVE MEDIA QUERY CSS ====== / */
@media only screen and (max-width: 600px) {}


/* / ====== TABLET RESPONSIVE QUERY CSS ====== / */
@media (min-width: 481px) and (max-width: 769px) {}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.light-bg {
  background-color: #E8E8EA;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -48px;
  border-radius: 50%;
  height: 25px;
  width: 30px;
  content: "";
}

#exampleInputtext {
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: var(--bg-gray);
}

.plan-heading {
  top: -70px;
  height: 120px;
}

.bg-free-1 {
  background-image: url('../images/free-email-template-1.png');
  background-repeat: no-repeat;
  background-size:cover;

}
.bg-free-2 {
  background-image: url('../images/free-email-template-2.png');
  background-repeat: no-repeat;
  background-size:cover;

}
.bg-pro-1{
  background-image: url('../images/email-signature-pro-1.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-wheat{
  background-color: #F3F3F3;;
}
.img-gif {
  position: absolute;
  top: 0;
  left: -200px;
  rotate: 83deg;

}
.shadow-1 {
  box-shadow: 0 0.7rem  rgba(0,0,0,.15)!important;
}
.z-index{
  z-index: 1;
}
.right-stone{
  right: -120px;
  width: 100px;
  top: 91px !important;
}
.right-gif {
  position: absolute;
  left: 697px;
  top: -102px;
  width: 969px;
  rotate: 84deg;
}
.client-position {
  position: absolute;
  left: -240px;
  top: -78px;

}
.client-gif {
  rotate: 195deg;

  position: absolute;
  left: -80px;
}
.client-right {
  position: absolute;
  right: -109px;
  top: -123px;
}
.client-size {

  right: -2px;
  top: -123px;
  width: 83px;
}
.image-circle-design{
  height: 100px;
  width: 100px;
  position: absolute;
  top: -15px;
  left: -18px;
  border: 5px solid #ff4058;
}
.wh-50{
  width:50px;
  height:50px
}
.bg-blue{
  background: #2E6BFF;
} 
/* .shadow_one{
  width: 100%;
  height: auto;
  background-color: #FCFBFF;
  z-index: 9999;
  position: fixed;
}  */

/* .dekstop-menu
{
  display: none;
}
 */
 .dekstop-menu{
  margin-top: 70px;
  /* position: fixed; */
 }
.author_section{
  width: 100%;
  height: auto;
  display: flex;
}

/* img.author_image{
  width: 160px;
  height: 160px;
  border-radius: 2px;
  outline: 10px solid black;
 } */
.text-centers{
 width: 100%;
 height: 150px;
 /* border: 1px solid red; */
 background-color: #E8E8EA;
 border-radius: 0px 7px 7px 0px;
 margin-left: 12px;
 padding: 25px;
 margin-top: 5px;
}
.read_txt{
    display: flex;
    justify-content: end;
  font-size: 17px;
}
/* .stry_highlight{
  margin-left: 100px;
} */
.blockquote-footer {
  margin-top: -20px !important;
  margin-bottom: 0 !important;

}
.shadow_one + .main-body{
  padding-top:60px;
}