<div *ngIf="!(href =='/home-dashboard/user-profile') "
    class="d-flex flex-column ms-4 mt-5 flex-shrink-0 bg-blue rounded-2" style="width: 4.0rem; height: 100vh;">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" >
        <li class="nav-item " routerLink="./home-page" routerLinkActive="active">

            <a  class="nav-link  rounded-0" aria-current="page" title="Free"
                data-bs-toggle="tooltip" data-bs-placement="right">

                <p class=" mb-0 side_set"> 
                    <img src="assets/images/dashboard.png" class="img-menu" width="19" height="19"><span
                        class="menu-text py-2 rounded-2 p-1" >Home</span></p>

            </a>
        </li>
        <li class="nav-item"  routerLink="./templates/template-dashboard" routerLinkActive="active">
            <a class="nav-link    border-0" title="Dashboard"
                data-bs-toggle="tooltip" data-bs-placement="right">


                <p class="mb-0" >
                    <img src="assets/images/signature-template.png" class="img-menu" width="19" height="19">
                    <span class="menu-text py-2 rounded-2 text-nowrap">Signature Templates</span>
                </p>

            </a>
        </li>
        <li class="nav-item" routerLink="./templates/saved-templates" routerLinkActive="active">

            <a  class="nav-link    border-0" title="Dashboard"
                data-bs-toggle="tooltip" data-bs-placement="right">
                <p class="mb-0" >
                    <img src="assets/images/saved-signature.png" class="img-menu" width="16" height="16">
                    <span class="menu-text py-2 rounded-2 mb-0">My Signature's</span>
                </p>
            </a>
        </li>
        <li class="nav-item"  routerLink="./motivational-quote" routerLinkActive="active">
            <a class="nav-link    border-0" title="quotes" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0">
                    <img src="assets/images/quotes.png" class="img-menu" width="18" height="18">
                    <span class="menu-text py-2 rounded-2 mb-0">Motivational Quotes & Story</span>
                </p>
            </a>
        </li>

        <li class="nav-item" routerLink="./flyer/edit-flyer" routerLinkActive="active" >
            <a class="nav-link    border-0" title="quotes" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0"  >
                    <img src="assets/images/social-media-flyers.png" class="img-menu" width="19" height="19">
                    <span class="menu-text py-2 rounded-2 mb-0">Social Media Flyers</span>
                </p>
            </a>
        </li>
        <li class="nav-item" routerLink="./flyer/saved-flyer" routerLinkActive="active">
            <a  class="nav-link    border-0" title="quotes" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0" >
                    <img src="assets/images/saved-signature.png" class="img-menu" width="16" height="16">
                    <span class="menu-text py-2 rounded-2 mb-0">My Flyers
                    </span>
                </p>
            </a>
        </li>
        <li class="nav-item" routerLink="./myquote" routerLinkActive="active">
            <a  class="nav-link    border-0" title="Dashboard" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0" >
                    <img src="assets/images/quotes.png" class="img-menu" width="18" height="18">
                    <span class="menu-text py-2 rounded-2 mb-0">My Quotes</span>
                </p>
            </a>
        </li>



        <li class="nav-item" routerLink="/home-dashboard/myorder" routerLinkActive="active" >

            <a
             class="nav-link border-0" title="Dashboard" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0"  >
                    <img src="assets/images/orders-new.png" class="img-menu" width="19" height="19">
                    <span class="menu-text py-2 rounded-2 mb-0">My Order</span>
                </p>
            </a>
        </li>
        <li class="nav-item" routerLink="./ticket" routerLinkActive="active" >
            <a class="nav-link   border-0" title="Dashboard" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0"  >
                    <img src="assets/images/ticket.png" class="img-menu" width="19" height="19">
                    <span class="menu-text py-2 rounded-2 mb-0">Tickets</span>
                </p>
            </a>
        </li>

      <li class="nav-item">
            <a class="nav-link active   border-0" title="Dashboard" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <p class="mb-0"  routerLink="./setting">
                    <img src="assets/images/settings.png" class="img-menu" width="19" height="19">
                    <span class="menu-text py-2 rounded-2 mb-0">My Settings</span>
                </p>
            </a>
        </li> 


      <li class="nav-item">

            <a class="nav-link    border-0" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                <div class="">
                    <img src="assets/images/logout-white.png" class="img-menu" width="20" (click)="logout()" height="20">
                    <p class="menu-text py-2 rounded-2 mb-0" (click)="logout()">Logout</p>
                </div>
            </a>
        </li> 
    </ul>

</div>

