
        .mouse_move img {
            position: absolute;
        }

        #img1 {
            top: -75px;
            left: 0px;

        }

        #img2 {
            bottom: -20px;
            right: 50px;
            height: 250px;
            width: 250px;
            z-index: -1;
        }