<div class="row mt-4">
    <div class="col-md-7 m-4 " *ngFor="let details of tempDetails">

        <table cellpadding="0" cellspacing="0" id="{{details?._id}}" #tableData
            style="background-color: #FBFEFF ;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;font-size: medium;width:500px;height:280px; font-family: Arial;">
            <tbody style="padding:10px;
        ">
                <tr>
                    <td style="padding: 7px 15px;" colspan="3">
                        {{details?.signatureName}}
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: baseline;text-align: center;padding: 5px">
                        <div style="" *ngIf="details?.profileImage">
                            <img style="width: 72px;
                    vertical-align: middle; height: 65px;border-radius:50%;"
                                src="https://giveaspark.s3.us-west-1.amazonaws.com/{{details?.profileImage}}">


                        </div>
                        <div style="text-align:center;" *ngIf="details?.logo">

                            <a href="home-dashboard/plan/plan-dashboard" *ngIf="planDetail == 'Plan A'">
                                <img style="width:95px ;height:35px"
                                    src="https://giveaspark.s3.us-west-1.amazonaws.com/{{details?.logo}}" id="del">
                            </a>


                            <img style="width:95px ;height:35px;" *ngIf="!(planDetail == 'Plan A')"
                                src="https://giveaspark.s3.us-west-1.amazonaws.com/{{details?.logo}}" id="del"><br>

                            <p style=" font-size: 10px; display: inline; color: blue;">Remove logo</p><span
                                (click)="remove(details?._id)" style="margin-left: 4px; font-size: 10px;">X</span>

                        </div>
                    </td>
                    <td colspan="2"
                        style="padding: 0.01px 0.01px 0.01px 14px; vertical-align:top; border-left: solid 1px #BDBDBD; ">
                        <h5 *ngIf="details?.yourName" style=" text-transform: initial;font-weight: bold;color: #646464;letter-spacing: 0px;
                line-height: 1.2; font-size: 16.0px;" [style.text-align]="nameAlign"
                            [style.color]="details?.templateDesign?.firstNameColor"
                            [style.line-height]="details?.templateDesign?.lineHeight"
                            [style.font-family]="details?.templateDesign?.fontFamily"
                            [style.font-size.px]="details?.templateDesign?.fontSize"><span>{{details?.yourName}}</span>
                        </h5>
                        <h6 *ngIf="details?.designation"
                            style="margin-bottom:0px;color:#000;font-weight: bold;font-size: 18x;">
                            <span style="border-bottom:3px solid#FFBA00;padding:5px;"
                                [style.color]="details?.templateDesign?.designationColor"
                                [style.line-height]="details?.templateDesign?.lineHeight"
                                [style.font-family]="details?.templateDesign?.fontFamily">{{details?.designation}}
                            </span>
                        </h6>
                        <div style="padding-top:10px;margin-bottom:0px;">
                            <p *ngIf="details?.phoneNo" style="line-height: 1.2;margin-bottom:0;padding:0 10px; font-family: Arial;color-scheme: light only;
                    color: #212121; white-space: wrap;font-size: 13px;"><span style="font-weight:bold;">M:</span> <span
                                    [style.color]="details?.templateDesign?.contactDetailColor"
                                    [style.line-height]="details?.templateDesign?.lineHeight"
                                    [style.font-family]="details?.templateDesign?.fontFamily"
                                    [style.font-size.px]="details?.templateDesign?.fontSizeItem">{{std}}{{details?.phoneNo}}</span>
                            </p>
                            <p *ngIf="details?.companyPhone" style="line-height: 1.2;margin-bottom:0;padding:0 10px; font-family: Arial;color-scheme: light only;
                        color: #212121; white-space: wrap;font-size: 13px;"><span style="font-weight:bold;">P:</span>
                                <span [style.color]="details?.templateDesign?.contactDetailColor"
                                    [style.line-height]="details?.templateDesign?.lineHeight"
                                    [style.font-family]="details?.templateDesign?.fontFamily"
                                    [style.font-size.px]="details?.templateDesign?.fontSizeItem">{{details?.companyPhone}}</span>
                            </p>

                            <p *ngIf="details?.email" style="line-height: 1.2;margin-bottom:0;padding:0 10px; font-family: Arial;color-scheme: light only;
                    color: #212121; white-space: wrap;font-size: 13px;">
                                <span style="font-weight:bold;">E:</span>
                                <span [style.color]="details?.templateDesign?.contactDetailColor"
                                    [style.line-height]="details?.templateDesign?.lineHeight"
                                    [style.font-family]="details?.templateDesign?.fontFamily"
                                    [style.font-size.px]="details?.templateDesign?.fontSizeItem">
                                    {{details?.email}}</span>
                            </p>

                            <p *ngIf="details?.companyWebsite" style="line-height: 1.2;margin-bottom:0;padding:0 10px; font-family: Arial;color-scheme: light only;
                    color: #212121; white-space: wrap;font-size: 13px;">
                                <span style="font-weight:bold;">W:</span>
                                <a href="https://{{details?.companyWebsite}}" target="_blank"
                                    [style.color]="details?.templateDesign?.contactDetailColor"
                                    [style.line-height]="details?.templateDesign?.lineHeight"
                                    [style.font-family]="details?.templateDesign?.fontFamily"
                                    [style.font-size.px]="details?.templateDesign?.fontSizeItem">{{details?.companyWebsite}}</a>

                            </p>

                            <p style="line-height:1.2;margin-bottom:0;padding:0 10px; font-family: Arial;color-scheme: light only;
                    color: #212121; white-space: wrap;font-size: 13px;" *ngIf="details?.address[0]?.city">


                                <span style="font-weight:bold;"
                                    [style.color]="details?.templateDesign?.contactDetailColor"
                                    [style.line-height]="details?.templateDesign?.lineHeight"
                                    [style.font-family]="details?.templateDesign?.fontFamily"
                                    [style.font-size.px]="details?.templateDesign?.fontSizeItem">A:</span>
                                {{details?.address[0]?.city}}
                            </p>
                        </div>

                        <div style="padding:10px;border-radius:  10px 10px 0 0;" *ngIf="planDetail=='Plan C'">
                            <span *ngIf="details?.fbProfile">
                                <a href="{{details?.fbProfile}}"><img
                                        style="width:20px;height:20px;margin:5px;background-color: #000;border-radius:50%"
                                        src="https://giveaspark.s3.us-west-1.amazonaws.com/Soical_icons/fb-1.png"></a>
                            </span>
                            <span *ngIf="details?.twitterProfile"><a href="{{details?.twitterProfile}}"><img
                                        style="width:20px;height:20px;margin:5px;background-color: #000;border-radius:50%"
                                        src="https://giveaspark.s3.us-west-1.amazonaws.com/Soical_icons/tt-1.png"></a></span>
                            <span *ngIf="details?.linkedInProfile">
                                <a href="{{details?.linkedInProfile}}"><img
                                        style="width:20px;height:20px;margin:5px;background-color: #000;border-radius:50%"
                                        src="https://giveaspark.s3.us-west-1.amazonaws.com/Soical_icons/ln-1.png"></a>
                            </span><span *ngIf="details?.instagramProfile">
                                <a href="{{details?.instagramProfile}}"><img
                                        style="width:20px;height:20px;margin:5px;background-color: #000;border-radius:50%"
                                        src="https://giveaspark.s3.us-west-1.amazonaws.com/Soical_icons/it-1.png"></a>
                            </span>
                        </div>

                    </td>
                    <td style="vertical-align:baseline;">
                        <a href="https://app.giveaspark.com/home-dashboard/myquote/quote-dashboard" target="_blank">
                            <img style="width:60px; height:60px;"
                                src="https://giveaspark.s3.amazonaws.com/{{code}}"></a>
                    </td>
                </tr>
                <tr>
                    <td></td>

                    <td style="padding-left:13px" colspan="2">

                        <p style="font-size:12px;">
                            <q *ngIf="details?.quotesId?.quotesName">
                                {{details?.quotesId?.quotesName}}
                            </q>
                            <q *ngIf="details?.quotes">
                                {{details?.quotes}}
                            </q>



                        </p>
                    </td>

                </tr>
                <tr>
                    <td *ngIf="planDetail=='Plan C'" colspan="4" style="padding:5px 10px"
                        [style.text-align]="details?.templateDesign?.youtubeAlignment">
                        <a href="{{details?.youtubeUrl}}" target="_blank" *ngIf="details?.thumbnailImage"><img
                                src="{{details?.thumbnailImage}}" height="80" width="107a" alt=""></a>
                        <p *ngIf="details?.youtubeTitle" [style.color]="details?.templateDesign?.youtubeColor"
                            [style.font-size.px]="details?.templateDesign?.youtubeFont">
                            {{details?.youtubeTitle}}</p>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="details?.imageTitle" colspan="4" style="padding:5px 10px">
                        <p style="margin:0;font-weight:bold">{{details?.imageTitle}}</p>
                    </td>

                </tr>
                <tr>

                    <td colspan="4" style="border-bottom: 3px solid #e0e0e0;">
                <tr>
                    <td style="width: 100px;" *ngIf="details?.customProfile1">
                        <a href="{{details?.imageLink}}" target="_blank"><img
                                [style.width.px]="details?.templateDesign?.imageSize"
                                [style.margin-right.px]="details?.templateDesign?.imageSpace"
                                [style.margin-left.px]="details?.templateDesign?.imageSpace"
                                [style.border-radius.px]="details?.templateDesign?.imageRadious"
                                style="  display: block;"
                                src="https://giveaspark.s3.amazonaws.com/{{details?.customProfile1}}"
                                alt="Gallery Image" [style.height.px]="details?.templateDesign?.imageSize"></a>


                    </td>
                    <td style="width: 100px;" *ngIf="details?.customProfile2">
                        <a href="{{details?.imageLink}}" target="_blank"> <img
                                [style.width.px]="details?.templateDesign?.imageSize"
                                [style.margin-right.px]="details?.templateDesign?.imageSpace"
                                [style.margin-left.px]="details?.templateDesign?.imageSpace"
                                [style.height.px]="details?.templateDesign?.imageSize"
                                [style.border-radius.px]="details?.templateDesign?.imageRadious"
                                style="  display: block; "
                                src="https://giveaspark.s3.amazonaws.com/{{details?.customProfile2}}"
                                alt="Gallery Image"></a>
                    </td>
                    <td style="width: 100px;" *ngIf="details?.customProfile3">
                        <a href="{{details?.imageLink}}" target="_blank"><img
                                [style.width.px]="details?.templateDesign?.imageSize"
                                [style.margin-right.px]="details?.templateDesign?.imageSpace"
                                [style.margin-left.px]="details?.templateDesign?.imageSpace"
                                [style.border-radius.px]="details?.templateDesign?.imageRadious"
                                style=" display: block; "
                                src="https://giveaspark.s3.amazonaws.com/{{details?.customProfile3}}"
                                alt="Gallery Image" [style.height.px]="details?.templateDesign?.imageSize"></a>
                    </td>
                    <td style="width: 100px;" *ngIf="details?.customProfile4">
                        <a href="{{details?.imageLink}}" target="_blank"><img
                                [style.width.px]="details?.templateDesign?.imageSize"
                                [style.margin-right.px]="details?.templateDesign?.imageSpace"
                                [style.margin-left.px]="details?.templateDesign?.imageSpace"
                                [style.border-radius.px]="details?.templateDesign?.imageRadious"
                                style=" display: block; "
                                src="https://giveaspark.s3.amazonaws.com/{{details?.customProfile4}}"
                                alt="Gallery Image" [style.height.px]="details?.templateDesign?.imageSize"></a>
                    </td>
                </tr>
                </td>
                </tr>
                <tr>
                    <td style=" font-size:8px ;padding:15px;" colspan="4" *ngIf="details?.disclaimer"
                        [style.font-size.px]="details?.templateDesign?.disclaimerSize"
                        [style.text-align]="details?.templateDesign?.disclaimerAlignment"
                        [style.color]="details?.templateDesign?.disclaimerColor">

                        {{details?.disclaimer}}
                    </td>

                </tr>
                <tr>

                    <td style="padding:5px 10px" colspan="4"
                        [style.text-align]="details?.templateDesign?.eventAlignment">
                        <a href="{{details?.eventLink}}">
                            <img *ngIf="details?.eventIcon" style="width:30px;height:30px;" src="{{details?.eventIcon}}"
                                [style.width.px]="details?.templateDesign?.iconSize">
                            <span style="font-weight:bold;margin:1px 3px;"
                                [style.font-size.px]="details?.templateDesign?.eventSize"
                                [style.color]="details?.templateDesign?.eventColor">{{details?.eventTitle}}</span>
                            <span style="margin:1px 3px;" [style.font-size.px]="details?.templateDesign?.eventSize"
                                [style.color]="details?.templateDesign?.eventColor">{{details?.eventName}}</span></a>
                    </td>

                </tr>

                <tr>
                    <td style="padding:15px" colspan="4">
                <tr>
                    <td style="padding:5px;" *ngIf="details?.greenIcon"
                        [style.text-align]="details?.templateDesign?.footerAlignment"
                        style=" border-right: 1px solid #e5e5e5;text-align: center;">
                        <img style="width:20px;height:20px;padding:5px;" src="{{details?.greenIcon}}" alt="">

                    </td>
                    <td [style.text-align]="details?.templateDesign?.footerAlignment" style="padding:2px 10px;"
                        colspan="2" [style.font-size.px]="details?.templateDesign?.footerSize"
                        [style.color]="details?.templateDesign?.footerColor">
                        <span>{{details?.greenFooter}}</span>
                    </td>
                </tr>
                </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:7px 0px;">
                        <img *ngIf="details?.bannerImage"
                            src="https://giveaspark.s3.amazonaws.com/{{details?.bannerImage}}" alt=""
                            [style.width.%]="details?.templateDesign?.bannerSize"
                            [style.text-align]="details?.templateDesign?.bannerAlign" height="150">
                    </td>


                </tr>
                <tr>
                    <td style="padding:15px" colspan="4" [style.text-align]="details?.templateDesign?.appbuttonAlign">
                        <p style="margin:0;padding:15px" [style.color]="details?.templateDesign?.appButtonColor"
                            [style.font-size.px]="details?.templateDesign?.appButtonSize">{{details?.appName}}</p>
                <tr>
                    <td> <a *ngIf="details?.googleAppLink" href="{{details?.googleAppLink}}"
                            style="text-decoration: none;" target="_blank" rel="nofollow noreferrer"> <img
                                src="https://d1n2mpfyq0bf3x.cloudfront.net/25fd1656f988fc225b58d51011c76026/google-play-badge.png"
                                height="33" width="auto" style="width: auto; height: 33px; display: block;"
                                alt="Download App"> </a></td>
                    <td> <a *ngIf="details?.appleAppLink" href="{{details?.appleAppLink
    }}" style="text-decoration: none;" target="_blank" rel="nofollow noreferrer"><img
                                src="https://d1n2mpfyq0bf3x.cloudfront.net/25fd1656f988fc225b58d51011c76026/app-store-badge.png"
                                height="33" width="auto" style="width: auto; height: 33px; display: block;"
                                alt="Download App"></a></td>
                </tr>



                </td>
                </tr>

            </tbody>
        </table>
        <div class="d-flex justify-content-end m-3">
            <button class="signature-item-edit-btn" (click)="editTemplate(details?._id)"><span
                    class="signature-item-edit-btn-icon sw-icon-pen"></span> <span
                    class="signature-item-edit-btn-text">Edit</span></button>
            <button class="signature-item-edit-btn" (click)="openModal(details?._id)" onclick="openNav()"><span
                    class="signature-item-edit-btn-icon sw-icon-pen"></span> <span
                    class="signature-item-edit-btn-text">Sync Signature</span></button>

        </div>

 <button (click)="setNameInCookie()">cookies</button>
    </div>




    <!-- ................. M  O    D    A   L.............. -->


    <div id="media-share" class="sidenav">
        <div class="d-flex py-2 border-bottom justify-content-between align-items-center">
            <h4 class="fs-16 mb-0 ps-2">Add To Your Email</h4>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        </div>


        <div class="row align-items-start ">
            <div class="col-md-2 col-lg-3 pt-2 bg-gray " style="
            height: 100vh;">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="d-flex social-button py-4 active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">
                        <div><img class="email__icon" src="assets/images/email-gmail.svg" class="edit-icons"></div>
                        <div class="email__name " (click)="setonGmail()">Gmail</div>
                        <!-- <button type="button" > gmail</button> -->
                    </div>
                    <div class="d-flex social-button py-4" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                        <div><img class="email__icon" src="assets/images/yahoo-s.png" class="edit-icons"></div>
                        <div class="email__name email--pro">MacMail</div>
                    </div>
                    <div class="d-flex social-button py-4" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">
                        <div><img class="email__icon" src="assets/images/outlook-s.png" class="edit-icons">
                        </div>
                        <div class="email__name " (click)="setOnOutlook()">Outlook</div>
                    </div>
                    <div class="d-flex social-button py-4" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div><img class="email__icon" src="assets/images/html.png" class="edit-icons">
                        </div>
                        <div class="email__name " (click)="CopyToClipboard(selectedTemplateId)">Html</div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-9">
                <div class="p-3 text-align-center">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="Gmail_gif"><img src="assets/images/sync-gif.gif" alt="Gmail GIF"></div>
                            <div class="ref_btn"><button>Refresh Your Gmail</button></div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">.Coming Soon.......</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">Coming Soon.......</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
















































































    <div class="signatures-list-create">
        <div class="signatures-list-create-title with-badge">
            <div class="signatures-list-create-title-icon sw-icon-plus-rounded"></div>
            <div class="signatures-list-create-title-text" routerLink="/home-dashboard/basic-template">Create another
                signature</div>
        </div>
    </div>

</div>