



<table id="first-clip" cellpadding="0" width="480" height="300" *ngFor="let tempDetails of templateList " 
style="background-color:#ffff;border-collapse:collapse;padding:5px">
<tbody>
  <tr>

    <td>
      <div >
        <div style="text-align:center;" *ngIf="!tempDetails?.profileImage">
          <img style="width: 80px;height: 80px;border-radius: 50%;" src="assets/images/profile.png " />
        </div>
        <div style="padding:15px;" *ngIf="tempDetails?.profileImage">
          <img style="width: 80px;height: 80px;border-radius: 50%;" [style.border-radius.px]="tempDetails?.foundDesigns[0]?.templateDesign?.borderRadius"
          
            src="https://giveaspark.s3.us-west-1.amazonaws.com/{{tempDetails?.profileImage}}" />
        </div>
        

      </div>
      <!-- <div  *ngIf=" templateShow == 'free'">
          <img style="width:100px;height:100px;"
              src="assets/images/logo.png" alt=""
              [style.border-radius.px]="borderRadius">
        </div> -->
      <div style="">
        <h2 style="margin-bottom:0;margin-top:-10px;" color="#000000" [style.text-align]="tempDetails?.foundDesigns[0]?.templateDesign?.nameAlign">
          <span style="margin: 0px; font-size: 34px;" [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew"
          [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.firstNameColor" 
            [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.templateFontSize">{{tempDetails?.yourName}}</span></h2>

        <p style="margin:-6px 0px 0px  0px; font-size: 14px;text-align: center;" color="#000000"><span
            [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.designationColor" [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew"
            [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.itemFontSize">{{tempDetails?.designation}}</span></p>
      </div>



      <ul 
        style="display:flex;justify-content: space-around;width:110px; list-style:none; padding-left:3px;">
        <li> <a style="padding:1px" href="{{tempDetails?.fbProfile }}" target="_blank"><img alt=""
           style="width:15px;height:15px;"
              src="assets/images/yellow-fb.png"></a></li>
        <li> <a style="padding:1px" href="{{tempDetails?.twitterProfile }}" target="_blank"><img alt=""
              style="width:15px;height:15px;" src="assets/images/yellow-tw.png"></a>
        </li>
        <li> <a style="padding:1px" href="{{tempDetails?.linkedInProfile }}" target="_blank"> <img alt=""
              style="width:15px;height:15px;" src="assets/images/yellow-li.png"></a>
        </li>
        <li>
          <a style="padding:1px" href="{{tempDetails?.instagramProfile }}" target="_blank"> <img alt=""
              style="width:15px;height:15px;" src="assets/images/yellow-in.png"></a>
        </li>
      </ul>
    </td>


    <td>
      <div class="">
        <p style="margin-bottom:0px;font-size: 12px; line-height:1.5;" [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.itemFontSize"
          [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew" [style.line-height]="lineHeight"
          [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.contactDetailColor">
          <span style="padding-right:10px">Phone:</span>{{tempDetails?.phoneNo}}</p>
        <p style="margin-bottom:0px;font-size: 12px; line-height:1.5;" [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.itemFontSize"
          [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew" [style.line-height]="tempDetails?.foundDesigns[0]?.templateDesign?.lineHeight"
          [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.contactDetailColor">
          <span style="padding-right:10px">Mail:</span>{{tempDetails?.email}}</p>
        <p style="margin-bottom:0px;font-size: 12px; line-height:1.5;" [style.font-size.px]="itemFontSize"
          [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew" [style.line-height]="tempDetails?.foundDesigns[0]?.templateDesign?.lineHeight"
          [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.contactDetailColor">
          <span style="padding-right:10px">Website:</span>{{tempDetails?.companyWebsite}}</p>
        <p style="margin-bottom:0px;font-size: 12px; line-height:1.5;" [style.font-size.px]="itemFontSize"
          [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew" [style.line-height]="tempDetails?.foundDesigns[0]?.templateDesign?.lineHeight"
          [style.color]="tempDetails?.foundDesigns[0]?.templateDesign?.contactDetailColor">
          <span style="padding-right:10px">Location:</span>{{tempDetails?.address[0].city}}
        </p>
      </div>
      <div class="">
        <p *ngIf="tempDetails?.quotesId?.quotesName " [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.itemFontSize"
          [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew" [style.line-height]="tempDetails?.foundDesigns[0]?.templateDesign?.lineHeight">
          {{tempDetails?.quotesId?.quotesName}}
          <br>

          {{tempDetails?.quotesId?.authorId?.firstName}}
        </p>
        <p *ngIf="tempDetails?.quotes" [style.font-size.px]="tempDetails?.foundDesigns[0]?.templateDesign?.itemFontSize" [style.font-family]="tempDetails?.foundDesigns[0]?.templateDesign?.fontFamilyNew"
          [style.line-height]="tempDetails?.foundDesigns[0]?.templateDesign?.lineHeight">
          {{tempDetails?.quotes}}
          <br>
        </p>
      </div>
    </td>
    <td>
      <!-- <img src="https://giveaspark.s3.amazonaws.com/{{tempDetails?.createdBy?.QrCode}}" role="presentation"
        class="sc-cHGsZl bHiaRe" style="width:45px; height:45px ;display: inline-block;"> -->
    </td>
  </tr>
</tbody>

    </table>












