.signatures-list-create {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 65px;
  // background: rgba(28, 183, 235, 0.1);
  // border: 1px dashed #00BF7F;
  // border-radius: 107px;
  // cursor: pointer;
  // width: 20%;
  // position: relative;
  // margin-left: auto;
  // background-color: #00bf7f;
  // color: #ffffff;
  // left: -3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding-right: 20px;
}
.signatures-list-create .sig_bton{
  background-color: #33cc9d;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 50px;
  color: #ffffff;
  border: none;
}

.signature-item-edit-btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    min-width: 102px;
    cursor: pointer;
    background-color: #33cc9d;
    ;
    border-radius: 6px;
    border: none;
    outline: none;
    appearance: none;
    transition: all .2s ease;
    margin-right: auto;
}

.signature-item-edit-btn,
.signature-item-publish-btn {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    height: 36px;
    padding: 0 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow:hidden;
    transition: 0.5s;
    z-index:999999 !important;
    padding:0px;
    z-index:99999;
}
.mail-img {
    justify-self: center;
    max-width: 40px;
    padding-left: 5px;
}
.email__name {
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
}
.social-button .active {
    z-index: 1;
    background-color: hsla(47, 92%, 72%, .4);
    border-radius: 3px;
    border-left: 3px solid #f9dc74;
}
.email .button{
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
}
.sidenav .closebtn {

    font-size: 36px;
    margin-left: 50px;
}

.social-button {
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
}

.email__icon {
    justify-self: center;
    max-width: 25px;
    padding-left: 5px;
}
.bg-green{
    background-color: #33cc9d;
}


.side-modal {
    padding-top: 40px
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.hover-light:hover {
    background-color: #F44336;
    border-radius: 5px;
  }
  .fas{
    position: static !important;
    font-size: 16px !important;
  }
  .nerdy-pen {
    // justify-content: center;
    // align-content: center;
  
    &__text {
      
     font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 3.5em;
   
    }
  }
  .text-green{
    color:#00bf7f;
  }
  .gmail__ready{
    font-size: 20px;
    font-weight: 400;
    font-family: "Mulish,sans-serif";
  }
  .gmail{
    font-size: 17px;
    font-weight: 200; 
    text-align: center;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .play-pause-btn i {
    font-size:4rem;
    color: rgb(82, 70, 70);
    transition: all 0.2s ease;
  }
  
  .play-pause-btn:hover i {
    transform: scale(1.2);
  }

  .delt_modal_top{
    margin-top: 50%;
  }
  #myemail{
    color:transparent
  }