.signatures-list-create {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101px;
    background: rgba(28,183,235,.1);
    border: 1px dashed #1cb7eb;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 21px;
}