<div class="container-fluid">
    <!-- header -->

    <main class="padding-top">
        <section>
            <div class="container-fluid p-0 mt-5">
                <div class="row m-0 p-0 mt-3">

                    <div class="col-md-7 col-lg-10">
                        <div class="row pe-5">
                            <div class="col-md-6 col-lg-6">
                                <ul class="nav nav-tabs rounded-pill p-3 ps-5 pe-5" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 active" id="details-tab"
                                            data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab"
                                            aria-controls="details" aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/details.png">
                                                <p class="mb-0 fs-5">Details</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 bg-white" id="social-tab"
                                            data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab"
                                            aria-controls="social" aria-selected="true" (click)="onClick()
                                            ">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/social.png">
                                                <p class="mb-0 fs-5">Social</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1  p-2 " id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#template" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/template.png">
                                                <p class="mb-0 fs-5">Template</p>
                                            </div>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link box-link m-1 p-2 " id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#design" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">
                                            <div class="box">
                                                <img class="wh-35" src="assets/images/design.png">
                                                <p class="mb-0 fs-5">Design</p>
                                            </div>
                                        </button>
                                    </li>
                                </ul>

                                <!-- form start -->

                                <form [formGroup]="signatureDetailsForm" (ngSubmit)="onSubmit(signatureDetailsForm.value)">


                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show " id="details" role="tabpanel"
                                            aria-labelledby="details-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Signature Details</h4>
                                                </div>

                                                <div class="row position-relative">
                                                    <div class="col-md-11 col-lg-9">
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled" class="form-label">Your
                                                                Name</label>
                                                            <input type="text" formControlName="yourName"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Designation</label>
                                                            <input type="text" formControlName="designation"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Phone</label>
                                                            <input type="text" formControlName="phoneNo"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Address</label>
                                                            <input type="text" formControlName="address"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>

                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Email</label>
                                                            <input type="text" formControlName="email"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Website</label>
                                                            <input type="text" formControlName="companyWebsite"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <!-- <div class="mb-4">
                                                            <label for="exampleInputfiled" class="form-label">
                                                                Quote</label>
                                                            <input type="text" formControlName=""
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div> -->
                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="exampleInputfiled" class="form-label">
                                                                    Quote</label>
                                                                <select class="form-select form-select-lg p-3 bg-gray text-black-50 fs-14" style="    width: 332px;
                                                                height: 16px;" aria-label=".form-select-lg example" formControlName="quotesId">
                                                                    <option value="" disabled selected>Select Quote</option>
                                                                    <option  [value]=""> </option>
                                                                  </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="exampleInputfiled" class="form-label">
                                                                 My Quote</label>
                                                                <select class="form-select form-select-lg p-3 bg-gray text-black-50 fs-14" style="    width: 332px;
                                                                height: 16px;" aria-label=".form-select-lg example" formControlName="planId">
                                                                    <option value="" disabled selected>Select Quote </option>
                                                                    <option  [value]=""> </option>
                                                                  </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-1 col-lg-3">
                                                        <div class="position-absolute top-0">
                                                            <img class="img-fluid" src="assets/images/square-image.png">
                                                            <p class="text-blue fs-14 mb-0">Change Photo</p>
                                                            <p class="text-blue fs-14 mb-0">Remove</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="social" role="tabpanel"
                                            aria-labelledby="social-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Add Social Links</h4>
                                                </div>

                                                <div class="row position-relative">
                                                    <div class="col-md-11 col-lg-9">
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled" class="form-label">Facebook
                                                            </label>
                                                            <input type="text" formControlName="fbProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Instagram</label>
                                                            <input type="text" formControlName="instagramProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">LinkedIn</label>
                                                            <input type="text" formControlName="linkedInProfile"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="exampleInputfiled"
                                                                class="form-label">Youtube</label>
                                                            <input type="text" formControlName="youtubeChannel"
                                                                class="form-control bg-gray rounded-0 border-0 border-bottom p-0"
                                                                id="exampleInputfiled" aria-describedby="textHelp">

                                                        </div>
                                                        <div class="mb-4 d-flex">

                                                            <p class="mb-0 bg-lgblue rounded-pill "><i
                                                                    class="fa fs-12 fa-plus p-1" aria-hidden="true"></i>
                                                            </p>
                                                            <p class="mb-0 ps-2">
                                                                Add New Field</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-1 col-lg-3">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="template" role="tabpanel"
                                            aria-labelledby="template-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Templates</h4>
                                                </div>
                                                <div class="">
                                                    <p class="mb-1 fw-semibold">Free</p>
                                                    <img class="img-fluid" src="images/free-template.png">
                                                </div>
                                                <hr class="">
                                              
                                                <div class="mt-2">
                                                    <p class="mb-1 fw-semibold">Pro</p>
                                                    <img class="img-fluid" src="images/pro-template.png">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="design" role="tabpanel"
                                            aria-labelledby="design-tab">
                                            <div class=" bg-gray p-4 mb-4 shadow border-10 mt-4">

                                                <div class="">

                                                    <h4 class="mb-4">Font Styles & Colors</h4>
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-4 fw-semibold">Font Styles</h6>

                                                    <form class="row position-relative">
                                                        <div class="col-md-11 col-lg-9">
                                                            <div class="mb-2 grid-2">
                                                                <label for="exampleInputfiled"
                                                                    class="form-label mt-1 ">Font
                                                                    Family :
                                                                </label>
                                                                <select class="form-select "
                                                                    aria-label="Default select example">
                                                                    <option selected>Arial</option>
                                                                    <option value="1">One</option>
                                                                    <option value="2">Two</option>
                                                                    <option value="3">Three</option>
                                                                </select>

                                                            </div>
                                                            <div class="mb-2 grid-2">

                                                                <label for="customRange2" class="form-label">Size
                                                                    :</label>
                                                                <input type="range" class="form-range" min="0" max="5"
                                                                    id="customRange2">

                                                            </div>
                                                            <div class="mb-2 grid-2">

                                                                <label for="customRange2" class="form-label">Line
                                                                    Height :</label>
                                                                <input type="range" class="form-range" min="0" max="5"
                                                                    id="customRange2">

                                                            </div>
                                                            <div class="mb-2 grid-2">
                                                                <div>Align :</div>
                                                                <div class="d-flex">
                                                                    <i class="m-1 fa fa-align-left"
                                                                        aria-hidden="true"></i>
                                                                    <i class="m-1 fa fa-align-center"
                                                                        aria-hidden="true"></i>
                                                                    <i class="m-1 fa fa-align-right"
                                                                        aria-hidden="true"></i>
                                                                    <i class="m-1 fa fa-align-justify"
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="col-md-1 col-lg-3">

                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="mt-3">
                                                    <h6 class="mb-4 fw-semibold">Color</h6>
                                                    <div class="mb-2 grid-2">
                                                        <div class="">
                                                            <div class="d-flex align-items-center">
                                                                <p class="mb-0 p-1">First Name:</p>
                                                                <i class="fa fa-square fs-14 p-1" data-bs-toggle="modal" data-bs-target="#colorModal" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <p class="mb-0 p-1">Designation :</p>
                                                                <i class="fa fa-square fs-14 p-1" data-bs-toggle="modal" data-bs-target="#colorModal" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <p class="mb-0 p-1">Contact Details :</p>
                                                                <i class="fa fa-square fs-14 p-1" data-bs-toggle="modal" data-bs-target="#colorModal" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                        <div class="">
                                                            <div class="d-flex align-items-center">
                                                                <p class="mb-0 p-1">Last Name:</p>
                                                                <i class="fa fa-square fs-14 p-1" data-bs-toggle="modal" data-bs-target="#colorModal" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="">

                                                    <h4 class="mb-4">Shapes</h4>
                                                </div>
                                                <div class="bg-darkgray w-25">

                                                    <div class="row p-1">
                                                        <div class="col-md-4 rounded-3">
                                                            <i class="p-2  fa fa-square" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="col-md-4 rounded-3">
                                                            <i class="p-2  fa fa-circle" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="col-md-4 rounded-3">
                                                            <i class="p-2  fa fa-line" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row p-1 mt-4">
                                                    <div class="col-md-4">
                                                       <div class="bg-darkgray rounded-3">
                                                        <div class="grid-2">
                                                            <p class="mb-0 p-2">Width:</p>
                                                         
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                       <div class="bg-darkgray rounded-3">
                                                        <div class="grid-2">
                                                            <p class="mb-0 p-2">Height:</p>
                                                         
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                       <div class="bg-darkgray rounded-3">
                                                        <div class="grid-2">
                                                            <p class="mb-0 p-2">Color:</p>
                                                         
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4 text-end">
                                        <button type="submit" class="btn green-btn">Create Signature</button>
                                    </div>

                                </form>



                                <!-- form End -->


                            </div>
                            <div class="col-md-6 col-lg-6 pe-3">
                                <div class="card-box  border-10 p-4 pe-2 ps-2">
                                    <div class="row m-0">
                                        <div class="col-md-3 col-lg-3 self-align-center">
                                            <img class="wh-150" src="assets/images/profile-image.png">
                                        </div>
                                        <div class="col-md-7 col-lg-6 ps-2 pe-0">
                                            <h4 class=""><span class="text-darkblue" *ngIf="!username">John &nbsp;
                                                    Doe</span> </h4>
                                            <h4 class="">
                                                <span class="text-darkblue" *ngIf="username">{{username}}</span>
                                            </h4>
                                            <h6 class="mb-3">Marketing Expert</h6>

                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!number">+1129457850 | +1129457850 </p>
                                                <p class=" fs-12" *ngIf="number">{{number}} </p>
                                            </div>
                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!Email">shreybhardwaj@gmail.com </p>
                                                <p class=" fs-12" *ngIf="Email">{{Email}} </p>
                                            </div>
                                            <div class="d-flex justify-content-between pe-5 ps-3">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!compWebsite">www.perfectiongeeks.com</p>
                                                <p class=" fs-12" *ngIf="compWebsite">{{compWebsite}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-3 pe-0 ps-0">
                                            <img class="img-fluid" src="assets/images/scan.png">
                                            <p class=" fs-12">Scan/Click QR</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-2 text-center">
                                            <p>“Business opportunities are like buses, there’s always another one
                                                coming.”
                                            </p>
                                            <h6> – Richard Branson</h6>
                                        </div>

                                    </div>
                                    <!-- <div class="mt-4 text-end">
                                        <button type="submit" class="btn green-btn ">Create Signature</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- Button trigger modal -->


    <!-- Modal -->

</div>