<div class="row m-0 p-0">
    <div class="col-md-6 position-relative col-lg-6 bg-lgblue min-vh-100">
        <div class="box p-2 ">
          
            <form class="position-absolute top-50 start-50 translate-middle bg-white p-4 rounded-3 w-450"  [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                >
                <div  class="text-center mb-3 ">
                    <h3 class="mb-0">Enter Password</h3>
                    <img src="assets/images/pink-line.png"  class="img-fluid">
                </div>
               
           
              
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-purple ">Password</label>
                    <input type="password" formControlName="password"  [type]="repeatFieldTextType ? 'password' : 'text'"  class="form-control text-white lg-black p-3" placeholder="Enter Password"
                      id="exampleInputPassword1">
                      <i
                          class="fa  text-purple  x"
                          [ngClass]="{
                            'fa-eye-slash': !repeatFieldTextType,
                            'fa-eye': repeatFieldTextType
                          }"
                          (click)="toggleRepeatFieldTextType()"
                        ></i>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputName" class="form-label text-purple">Confirm Password</label>
                    <input type="password" class="form-control text-white lg-black p-3" placeholder="Enter password"  
                    [type]="fieldTextType ? 'text' : 'password'"
                      id="exampleInputName" formControlName="confirmPassword" aria-describedby="emailHelp">
    
                      <i
                      class="fa text-purple y"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                    ></i>
                      <!-- <button class="btn btn-light " type="button" id="password-addon" (click)="passwordCheck()">
                        <i [ngClass]="hide ? 'mdi mdi-eye-off':'mdi mdi-eye-outline'"></i>
                      </button> -->
                  </div>
                  <div *ngIf="resetPasswordForm.hasError('passwordNotMatch')">
                    <small class="text-white ">Password does not match</small>
                </div>
               
                <button class="pink-btn w-100 p-2" type="submit"> Save Changes</button>
              
                
            </form>
            <img src="assets/images/s-line.png"  class="img-fluid position-absolute bottom-0 end-0">
            <img src="assets/images/f-line.png"  class="img-fluid position-absolute top-0 start-0">
        </div>
    </div>
    <div class="col-md-6 col-lg-6 bg-white position-relative min-vh-100">
        <div class="position-absolute top-50 start-50 translate-middle ">
            
            <img src="assets/images/sign-up.png" class="wh-250">
        </div>
    </div>
</div>
