<!-- <div class="box-2 mt-2">
   
    <table class="table">
        <thead class="position-sticky">
          <tr>

            <th scope="col">Images</th>
            <th scope="col">Name</th>
            <th scope="col">Quotes</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-dark text-light" *ngFor="let quote of quotesList">
          
            <td scope="row">         

              <div
                *ngIf="quote?.writerProfile !='https://stargazeevents.s3.ap-south-1.amazonaws.com/pfiles/profile.png' ">
                <img class="img-fluid w-40 rounded-circle"
                  src="https://giveaspark.s3.us-west-1.amazonaws.com/{{quote?.writerProfile }}" />
              </div>
              <div
                *ngIf="quote?.writerProfile == 'https://stargazeevents.s3.ap-south-1.amazonaws.com/pfiles/profile.png' ">
                <img class="w-40 p-2" src="{{quote?.writerProfile }}">
              </div>
            </td>
            <td>{{quote?.writerName}}</td>
            <td>{{quote?.enterQuotes}}</td>

          </tr>


        </tbody>
      </table>
</div> -->
<div class="col-md-11 col-lg-11">

  <div class="row m-0 p-0 mt-5 align-items-center">
      <div class="col-md-12 col-lg-12">
          <div class="border-bottom">
              <h3>My Quotes</h3>
              
              <button (click)="navigate()" class="btn btn-green">Add qupte</button>
          </div>
          <div class="row mt-4" *ngFor="let quote of quotesList">
              <div class="col-md-6 col-lg-6">
                  <div class="row align-items-center">
                      <div class="col-md-3 col-lg-3 p-0">
                      
                            <div
                            *ngIf="quote?.writerProfile !='https://stargazeevents.s3.ap-south-1.amazonaws.com/pfiles/profile.png' ">
                            <img class="wh-140"
                              src="https://giveaspark.s3.us-west-1.amazonaws.com/{{quote?.writerProfile }}" />
                          </div>
                          <div
                            *ngIf="quote?.writerProfile == 'https://stargazeevents.s3.ap-south-1.amazonaws.com/pfiles/profile.png' ">
                            <img class="p-2" src="{{quote?.writerProfile }}">
                          </div>
                     
                      </div>
                      <div class="col-md-9 col-lg-9 p-0 pe-1  ">
                          <div class="bg-darkgray p-2  quotes-box">
                              <figure>
                                  <blockquote class="blockquote">
                                    <p class="fs-12"> {{quote?.enterQuotes}}</p>
                                  </blockquote>
                                  <figcaption class="blockquote-footer text-black">
                                     
                                    <cite class="fs-16" title="Source Title ">{{quote?.writerName}}</cite>
                                  </figcaption>
                                </figure>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <!-- <div class="col-md-6 col-lg-6">
                  <div class="row align-items-center">
                      <div class="col-md-3 col-lg-3 ps-1 p-0">
                          <div class="">
                              <img class="img-fluid" src="images/thomas-edition.jpg">
                          </div>
                      </div>
                      <div class="col-md-9 col-lg-9 p-0">
                          <div class="bg-darkgray p-2">
                              <figure>
                                  <blockquote class="blockquote">
                                    <p class="fs-12"> "Many of life’s failures are people who did not realize how close they were to success when they gave up." –

                                      </p>
                                  </blockquote>
                                  <figcaption class="blockquote-footer text-black">
                                     
                                    <cite class="fs-16" title="Source Title"> {{quote?.writerName}} </cite>
                                  </figcaption>
                                </figure>
                          </div>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</div>