.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.image-upload{
  font-size: 15px !important;
  border-radius: 6px;
  border: 1px solid#e8e8ea;
  background-color: #eff0f2;
  padding: 13px;
  width: 100%;
}
