<div class="col-md-11 col-lg-11">

                        
    <div class="row m-0 p-0 mt-5 align-items-center">
        <div class="col-md-6 col-lg-6 p-0">
            <div class="text-center box-hight bg-black p-5 position-relative">
                <h3 class="text-white pb-3">Get <span class="text-yellow">Give A Spark</span>
                    <br>Pro Plan</h3>
                <h2 class="text-white pb-3 fs-1">$ 10</h2>
                <div class="text-center">
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Create 3 Professional User Signature.</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Create 3 Professional User Signature.</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Unlimited Customization</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Unlimited Quotes & Stories</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Custom Quotes & Stories</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Unlimited Email Templates</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Social Media Links</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Social Media Sharing With Custom
                            Logo</p>
                    </div>
                    <div class="d-flex">
                        <i class='fa fa-check text-green pe-4'></i>
                        <p class="text-gray ">Social Media Story With Audio</p>
                    </div>
                </div>

                <div class="position-absolute end-0 top-50">
                    <img alt="" src="assets/images/s-line.png">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 p-0">
            <div class="text-center box-hight bg-white p-5">
                <form>
                    <div class="mb-3">
                        <select class="form-select p-3 rounded-pill text-gray"
                            aria-label="Default select example">
                            <option selected>Select payment method</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control p-3 text-gray rounded-pill"
                            aria-describedby="textHelp" placeholder="Enter card number">

                    </div>
                    <div class="mb-3">
                        <input type="email" placeholder="Enter email address"
                            class="form-control p-3 text-gray rounded-pill" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <select class="form-select p-3 rounded-pill text-gray"
                            aria-label="Default select example">
                            <option selected>Select Country </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn pink-btn w-100 p-3">Purchase Continue</button>
                </form>
                <div class="d-flex mt-4 justify-content-around">
                    <img src="assets/images/visa.png" alt="" class="img-fluid">
                    <img src="assets/images/gpay.png" alt="" class="img-fluid">
                    <img src="assets/images/paypal.png" alt="" class="img-fluid">
                    <img src="assets/images/card.png" alt="" class="img-fluid">
                
                </div>
            </div>
        </div>
    </div>
</div>
