<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="h-160"></div>
    </div>
  </div>

    <div class="row m-0 p-0" >
      <div class="col-md-12 col-lg-12 p-0">
        <app-header></app-header>
      </div>

      <div  class="col-md-1 col-lg-1 p-0 side-nav-sec dekstop-menu">
        <div *ngIf="!(href =='/home-dashboard/user-profile')"class="position-relative h-100" >
          <app-sidebar></app-sidebar>

      </div>
    </div>
      <div class="col-md-11 col-lg-11 pb-4  mt-4 all-pages_padding">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"  color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
    <img src="assets/images/spinner1.gif" style="width:150px;height:150px;">
  </ngx-spinner>
