<div class="container-fluid">
    <!-- header -->
   
    <main class="padding-top">
        <section>
            <div class="container-fluid p-0 mt-5">
                <div class="row m-0 p-0 mt-3">
                    <!-- <div class="col-md-3 col-lg-2 p-0 side-nav-sec dekstop-menu">
                        <div class="position-relative h-100">

                            <div class="d-flex flex-column flex-shrink-0 bg-gray" style="width: 4.5rem;">

                                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                                    <li class="nav-item mb-2">

                                        <a href="" class="nav-link py-3 rounded-0" aria-current="page" title="Home"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/dashboard.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Home</p>
                                            </div>
                                        </a>


                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link active  py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/signaturetemplate.png" class="img-menu"
                                                    width="24" height="24">
                                                <p class="menu-text mb-0">Signature Template</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">

                                        <a href="#" class="nav-link   py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/saved-signature.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Saved Signature</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link   py-3 border-0" title="Quotes"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/quotes.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Quotes</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link   py-3 border-0" title="Dashboard"
                                            data-bs-toggle="tooltip" data-bs-placement="right">
                                            <div class="d-flex justify-content-start  bg-gray">
                                                <img src="assets/images/saved-signature.png" class="img-menu" width="24"
                                                    height="24">
                                                <p class="menu-text mb-0">Saved Signature</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown border-top">
                                    <a href="#"
                                        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24"
                                            class="rounded-circle">
                                    </a>
                                    <ul class="dropdown-menu text-small shadow">
                                        <li><a class="dropdown-item" href="#">New project...</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-7 col-lg-10">
                        <div class="row pe-5">
                            <div class="col-md-6 col-lg-6">
                                <!-- Section: Timeline -->
                                <section class="py-5">
                                    <ul class="timeline">
                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Company Details</h5>

                                            <p class="text-muted">
                                                First let’s complete your company details,
                                                These details will be used in all of your signatures.
                                            </p>
                                            <button class="pink-btn p-2" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">Edit Company Details</button>
                                        </li>

                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Design Your Company Templates</h5>

                                            <p class="text-muted">

                                            </p>
                                            <button class="pink-btn p-2" (click)="route()">Design your Template</button>
                                        </li>

                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Add Employees</h5>

                                            <p class="text-muted">

                                            </p>
                                        </li>
                                    </ul>
                                </section>
                                <!-- Section: Timeline -->
                            </div>
                            <div class="col-md-6 col-lg-6 pe-3">
                                <div class="card-box  border-10 p-4 pe-2 ps-2">
                                    <div class="row m-0">
                                        <div class="col-md-3 col-lg-3 self-align-center">
                                            <img class="wh-150" src="assets/images/profile-image.png">
                                        </div>
                                        <div class="col-md-7 col-lg-6 ps-2 pe-0">
                                            <h4 class="" *ngIf="!username"><span class="text-darkblue">John</span> Doe
                                            </h4>
                                            <h4 class="" *ngIf="username"><span
                                                    class="text-darkblue">{{username}}</span> </h4>
                                            <h6 class="mb-3">Marketing Expert</h6>

                                            <div class="d-flex  pe-5 ps-3">
                                                <i class="fa fa-phone pe-2" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!number">+1129457850 | +1129457850 </p>

                                                <p class="fs-12" *ngIf="number">{{number}}</p>

                                            </div>
                                            <div class="d-flex  pe-5 ps-3">
                                                <i class="fa fa-envelope pe-2" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!Email">shreybhardwaj@gmail.com </p>
                                                <p class=" fs-12" *ngIf="Email">{{Email}}</p>
                                            </div>
                                            <div class="d-flex  pe-5 ps-3">
                                                <i class="fa fa-globe pe-2" aria-hidden="true"></i>
                                                <p class=" fs-12" *ngIf="!compWebsite ">
                                                    www.perfectiongeeks.com</p>
                                               
                                                    <p class=" fs-12" *ngIf="compWebsite ">{{compWebsite}}</p>
                                                
                                              


                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-3 pe-0 ps-0">
                                            <img class="img-fluid" src="assets/images/scan.png">
                                            <p class=" fs-12 text-center mt-1">Scan/Click QR</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-2 text-center">
                                            <p>“Business opportunities are like buses, there’s always another one
                                                coming.”
                                            </p>
                                            <h6> – Richard Branson</h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-gray">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Company Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-4">
                    <ul class="nav nav-tabs" id="" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Company Info</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Company
                                Social Links</button>
                        </li>

                    </ul>
                    <div class="tab-content  mt-4" id="myTabContent">
                        <form [formGroup]="companyDetailForm" (ngSubmit)="onSubmit()">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Name :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">

                                            <input type="text" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="companyName" [(ngModel)]="compName">

                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div class="d-flex"> <img class="w-10 h-25" src="assets/images/pen.png"><img
                                                    class="w-10 h-25" src="assets/images/cross.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Website :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="text" class="form-control border-none bottom-border"
                                                id="exampleInputtext" [(ngModel)]="compWebsite"
                                                aria-describedby="emailHelp" formControlName="companyWebsite">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Address :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="text" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="companyAddress">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Phone :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="number" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="companyPhone">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Fax :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="text" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="companyFax">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext" class="form-label">Company Logo :</label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="file" class="form-control border-none bottom-border"
                                                id="exampleInputtext" (change)="onSelectImage($event)"
                                                aria-describedby="emailHelp" formControlName="companyLogo">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="mb-3 mt-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn pink-btn">Cancel</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn green-btn">Apply Changes</button>
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                            <div class="tab-pane fade mt-edit" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext"
                                                class="form-label bg-white rounded-circle"><img
                                                    src="assets/images/facebook.png"></label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">

                                            <input type="text" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="fbProfile">

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext"
                                                class="form-label bg-white rounded-circle"><img
                                                    src="assets/images/instagram.png"></label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="email" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="instagramProfile">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext"
                                                class="form-label bg-white rounded-circle"><img
                                                    src="assets/images/linkedin.png"></label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="email" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="linkedInProfile">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext"
                                                class="form-label bg-white rounded-circle"><img
                                                    src="assets/images/youtube.png"></label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="email" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="youtubeChannel">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                            <label for="exampleInputtext"
                                                class="form-label bg-white rounded-circle"><img
                                                    src="assets/images/twitter.png"></label>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <input type="email" class="form-control border-none bottom-border"
                                                id="exampleInputtext" aria-describedby="emailHelp"
                                                formControlName="twitterProfile">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4 col-lg-4">
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <p class="text-blue"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                Add New Field</p>
                                        </div>
                                    </div>
                                </div>
                              

                            </div>
                            
                            <div class="mb-3 mt-3 mt-edit">
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn pink-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn green-btn" data-bs-dismiss="modal" aria-label="Close">Apply Changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>