<!-- <form [formGroup]="showQuotesForm" >
    <div class="row m-0 p-0 justify-content-center mt-3">
        <div class="col-md-4 col-lg-4">
            <select class="form-select fs-12 text-light bg-dark  border-1 p-3 w-100" aria-label="Default select example"
                formControlName="categoriesId" (change)="getSubCategory()">
                <option value="" disabled selected>Select Category</option>
                <option *ngFor="let data of category" [value]="data._id">{{data.name}}</option>

            </select>
       
        </div>

        <div class="col-md-4 col-lg-4">
            <select class="form-select fs-12 text-light bg-dark   border-1 p-3 w-100"
                aria-label="Default select example" formControlName="subCategoriesId" (change)="
            getSubsubCategory()">
                <option value="" disabled selected>Select Sub Category</option>
                <option *ngFor="let subcat of subCategory" [value]="subcat?._id">{{subcat?.name}}</option>

            </select>
         
        </div>

        <div class="col-md-4 col-lg-4">
            <select class="form-select fs-12 text-light bg-dark   border-1 p-3 w-100"
                aria-label="Default select example" formControlName="subSubCategoriesId" (change)="showQuote(showQuotesForm.value)">
                <option value="" disabled selected>Select Sub Sub Category</option>
                <option *ngFor="let subsubcat of subSubCategory?.subSubCategories" [value]="subsubcat?._id">
                    {{subsubcat?.name}}
                </option>
            </select>
    
        </div>

    </div>
</form>




<div class="col-6 m-3">


    <div class="border border-dark p-3 m-2" *ngFor="let quote of quoteList">

        <h3> Quotes Name </h3>
        <p>{{quote?.longQuotes}}</p>

        <h3>Author Name :-</h3>
        <div>{{quote?.authorId?.firstName}}{{quote?.authorId?.lastName}}</div>

    </div>
 -->


<div class="row m-0 p-0 mt-5 align-items-center">
    <div class="col-md-12 col-lg-12">
        <div class="border-bottom">
            <h3>Motivational Quotes</h3>
        </div>
        <div class="row m-0 p-0 mt-4">
            <div class="col-md-12 col-lg-12">
                <form [formGroup]="showQuotesForm" >
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <select class="form-select light-bg  p-3"
                            aria-label="Default select example" formControlName="categoriesId" (change)="getSubCategory()">
                            <option value="" disabled selected>Open this select menu</option>
                            <option *ngFor="let data of category" [value]="data._id">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <select class="form-select light-bg  p-3"
                            aria-label="Default select example" formControlName="subCategoriesId" (change)="getSubsubCategory()">
                            
                            <option value="" disabled selected>Select Sub Category</option>
                            <option *ngFor="let subcat of subCategory" [value]="subcat?._id">{{subcat?.name}}</option>
                        </select>

                    </div>
                    <div class="col-md-4 col-lg-4">
                        <select class="form-select light-bg  p-3"
                            aria-label="Default select example" formControlName="subSubCategoriesId" (change)="showQuote(showQuotesForm.value)">
                            <option value="" disabled selected>Select Sub Sub Category</option>
                            <option *ngFor="let subsubcat of subSubCategory?.subSubCategories" [value]="subsubcat?._id">
                                {{subsubcat?.name}}
                            </option>
                        </select>
                    </div>
                    

                </div>
            </form>


                <div class="row mt-4">
                    <div class="col-md-6 col-lg-6">
                        <div class="border-10 box-border p-2" *ngFor="let quote of quoteList">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                  <p class="fs-14"> {{quote?.longQuotes}} </p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                   
                                  <cite class="fs-24" title="Source Title">{{quote?.authorId?.firstName}}{{quote?.authorId?.lastName}}</cite>
                                </figcaption>
                              </figure>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-6">
                        <div class="border-10 box-border p-2">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                  <p class="fs-14"> “Don't settle for average. Bring your best to the moment. Then, whether it fails or succeeds, at least you know you gave all you had.” 
                                    </p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                   
                                  <cite class="fs-24" title="Source Title"> Angela Bassett</cite>
                                </figcaption>
                              </figure>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>