<div class="col-md-7 col-lg-10">

    <div class="row m-0 p-0 mt-5 align-items-center">
        <div class="col-md-12 col-lg-12">
            <div class="border-bottom">
                <h3>Create Profile</h3>
            </div>
            <div class="row m-0 p-0 mt-4">
                <div class="col-md-12 col-lg-12">
                    <form class="row position-relative pb-5" [formGroup]="profileUpdate" (ngSubmit)="onSubmit(profileUpdate.value)
                    ">
                        <div class="col-md-6 col-lg-6">
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Full Name" id="exampleInputfiled" aria-describedby="textHelp"
                                    formControlName="firstName" [(ngModel)]="userName" readonly>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Email Address" id="exampleInputemail" aria-describedby="textHelp"
                                    formControlName="email" [(ngModel)]="Email" readonly>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3" [(ngModel)]="number"
                                    placeholder="Phone Number" id="exampleInputfiled" aria-describedby="textHelp" formControlName="phone">

                                    <div *ngIf="Submitted && f['phone']errors" class="invalid-feedback">
                                        <span *ngIf="f['phone']errors['required']">phone no. is required</span>
                                      </div>
                                      <ng-container class="po-re"
                                      *ngIf="profileUpdate.controls['phone'].touched && !profileUpdate.controls['phone'].valid">
                      <small class="text-danger" *ngIf="profileUpdate.controls['phone'].hasError('pattern')">
                        Please enter a valid no.
                      </small>
                    </ng-container>
                                    <!-- <div *ngIf="profileUpdate.hasError('whitespace')">Please enter valid data</div>
                                    <div *ngIf="profileUpdate.get('phone')?.hasError('required') "
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">*Phone no. is required</small>
                                                </div>
                                                <div *ngIf="profileUpdate.get('phone')?.hasError('pattern')"
                                                    class="text-danger text-sm">
                                                    <small class="fs-12">*Please enter valid no.</small>
                                                </div> -->
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Designation" id="exampleInputemail" aria-describedby="textHelp"
                                    formControlName="designation"[(ngModel)]="designation">
                            </div>
                            <div class="mb-3">

                                <input class="form-control light-bg text-black border-blue p-2" type="file"
                                    id="formFile" accept="image/gif, image/jpeg, image/png" (change)="onSelectImage($event)" formControlName="profile">
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Address" id="exampleInputemail" aria-describedby="textHelp"
                                    formControlName="address" [(ngModel)]="addr">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Country" id="exampleInputfiled" aria-describedby="textHelp"
                                    formControlName="country" [(ngModel)]="countryName" readonly>
                            </div>
                            <div class="mb-3">
                                <input type="date" [max]="getToday()" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Date Of Birth" id="exampleInputemail" aria-describedby="textHelp"
                                    formControlName="DOB">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control light-bg text-black rounded-0  p-3"
                                    placeholder="Your Bio" id="exampleInputemail" aria-describedby="textHelp"
                                    formControlName="yourBio" [(ngModel)]="yBio">
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">


                            <button type="submit" class="btn green-btn" [disabled]="!profileUpdate.valid">Create Profile</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>